<div class="category-carousel owl-carousel owl-theme">
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>الأسماك</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/Meat.png" alt="">
			<h5>اللحوم والطيور</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>الفواكه والخضراوات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/sweet.png" alt="">
			<h5>حلويات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/Juices.png" alt="">
			<h5>عصائر</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/meat.png" alt="">
			<h5> محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/fish.png" alt="">
			<h5>مطاعم</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5> سوبر ماركت</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>صيدليات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/meat.png" alt="">
			<h5>توصيل بجنية</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>ورود</h5>
		</div>
	</div>
	

</div>