

<section id="hero" style="background-image: url('assets/images/bg-resturant.png');">
<div class="hero-title">
	<h4>لدينا فريق على أعلى مستوى من الإحترافية والمهنية لإيجاد الطرق السهلة والبسيطة التي توفر بشكل غير تقليدي الاحتياجات اليومية  <br> <span> بطريقة سهلة وآمنة وسريعة </span></h4>
	<h3 class="text-center"> 
إختر موقعك <img  src="assets/images/arrow-locat.png"></h3>

	 <form class="gift-form" method="post">
				
					<input class="form-control" type="text" name="" id="" placeholder=" إبحث عن منطقه او شارع علم معروف ...... ">
					<input class="btn" type="button" value=" أطلب الآن ">
			
				</form>
	

</div> 


</section>



