<section class="common-section">
	<div class="section-content">
		<div class="container">
			<h1 class="plans">الخطط</h1>
		


			<div class="row">
			
				<div class="col-md-4">
				
					<div class="plans-box">
					<h2>باقات غداء العمل </h2>
					<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها

					</p>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="plans-box">
						<h2>  الباقات العادية </h2>
						<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها

						</p>

						
					</div>
				</div>
				<div class="col-md-4">
					<div class="plans-box">
						<h2>  الباقات المتنوعة </h2>
						<p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها

						</p>
					
					</div>
				</div>
			
		</div>
	</div>
</section>