<section class="common-section" style="background-image: url('assets/images/resturan-image.png');">
>
	<div class="section-content">
		<div class="container">
			<div class="row">
			 <div class="col-3">
					<div class="counter-item-text">
					<p>إنجازاتنا على<br>مدار <br><span> السنوات الماضية  </span></p>

						
					</div>
					</div>
				<div class="col-3">
				
					<div class="counter-item">
					<p>25000</p>
						<h4>مستخدم في مصر</h4>
						
					</div>
				</div>
				<div class="col-3">
					<div class="counter-item">
					<p>25000</p>
						<h4>طلب ناجح</h4>
						
					</div>
				</div>
				<div class="col-3">
					<div class="counter-item">
						<p>7</p>
						<h4>محافظات</h4>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>