<section id="hero">


  
  <div class="container-fluid">
    <div class="row">

  <div class="hero-title col-md-8">
    <h1>استمتع بطعام صحى كل يوم
    </h1>
    <p>نقدم لك مجموعه متنوعة من الخطط والباقات المختلفة والتي يمكنك اختيار ما يناسبك منها
    </p>
    <button type="submit" class=" btn-main btn-hero">اشترك الآن</button>
  </div>
  <div class="image-hero col-md-4">
    <img src="assets/images/pasta.png">

  </div>
</div>
  </div>
</section>
