<section class="common-section">
	<div class="section-content">
		<div class="container">
		<div class="downlad-stores" style="background-image: url('assets/images/bg-stores.png');">
		<h3>حمل   <span>تطبيق سنقر </span> الآن وتابع معنا <br>جديد</h3>
		 <div class="app-stores">
						<a class="store-link" href="http://apple.com" target="_blank">
							<img src="assets/images/app-store.png">
						</a>
						<a class="store-link" href="http://google.com" target="_blank">
							<img src="assets/images/google-play.png">
						</a>
						<a class="store-link" href="http://google.com" target="_blank">
							<img src="assets/images/app-gallery.png">
						</a>

					</div> 

		</div>


			<div class="row">
			
				<div class="col-4">
				
					<div class="counter-item">
					<img src="assets/images/charging.png">
						<h3>  الشحن السريع</h3>
						
					</div>
				</div>
				<div class="col-4">
					<div class="counter-item">
					<img src="assets/images/shop.png">

						<h3>سنقر ستور</h3>
						
					</div>
				</div>
				<div class="col-4">
					<div class="counter-item">
												<img src="assets/images/Products.png">

						<h3>منتجات الجملة</h3>
					
					</div>
				</div>
			
		</div>
	</div>
</section>