#footer {
  color: $text-color;
  background:antiquewhite;
  .footer-content {
    padding: 80px 0;
  }
  .hours-of-delivery {
    float: left;
    p {
      margin-bottom: 70px;
    }
    .app-stores {
      a {
        margin-left: 10px;
      }
    }
  }
  .social-widget {
    text-align: center;
    h5 {
      text-align: center;
      color: $text2-color;
    }
    .social-links {
      display: inline-grid;
      padding: 20px;
    }
    a {
      color: $text-color;
    }
    i {
      color: $text2-color;
    }
    .social-links li {
      text-align: right;
    }
  }
  .contact-infro {
    p {
      width: 266px;
      line-height: 30px;
      font-weight: 700;
    }
    .social-contact {
      display: inline-flex;
      list-style: none;
      a {
        font-size: 20px;
        color: $text2-color;
        margin-left: 20px;
      }
    }
  }
  .copy-right {
    margin: auto;

    p {
      padding-top: 80px;
      font-size: 20px;
    }
  }
}
