/* _____ Header _____ */
.navbar-light .navbar-toggler-icon {
  padding: 20px;
}

.main-menu-wrap{
  margin-top: 50px;
}

.navbar-nav {
  margin: 0 auto;

  padding: 20px 0;
  .nav-item {
    margin-left: 10px;
    &.active {
      a {
        background: #f9f9f9;
      }
    }

    a {
      display: inline-block;
      color: #333;
      font-size: 20px;
      padding: 0 30px;
      font-weight: 500;
      line-height: 44px;
      border-radius: 10px;

      &:hover {
        color: #000000;
        background: #f9f9f9;
      }
    }
  }
}
.navbar-buttons{

	.btn-log{
		 background: $text-color;
	}

}
.bg-image{
  img{
    position: absolute;
    top: -323px;
    right: -40px;
    z-index: -1;
}
}
