#hero{
  height: 700px;
  .hero-title {
    h1 {
      margin-top: 150px;
      color: $text-color;
      margin-bottom: 30px;
    }
    P {
      max-width: 596px;
      font-size: 24px;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    .btn-hero {
      background: $text2-color;
    }
  }
 
  
}
