.plans{
	text-align: center;
	margin-bottom: 80px;
	color: $text-color;
}
.plans-box{
	padding: 50px;
	box-shadow: 0px 15px 20px rgba(118, 130, 183, 0.18);
	border-radius: 40px;
	h2{
		color: $text2-color;
		text-align: center;
		margin-bottom: 30px;
	}
	p{
		color: $text-color;
		opacity: 60%;
		font-size: 20px;
		line-height: 1.2;
		text-align: center;
	}
}