.page-card{
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	border-radius: 30px;
	position: relative;
	padding:40px;
	margin-top: -30px;
	margin-bottom: 50px;
	border:1px solid #CED4DA;
	z-index: 0;
	.card-header{
		background: none;
		padding: 30px 0;
		margin-bottom: 30px;
		h3{
			margin-bottom: 0px;
		}
		i{
			margin-left: 10px;
		}
		border-bottom:1px solid #DEE2E6;
	}
}




.form-row {
	display: flex;
	justify-content: flex-end;
	padding: .5em;
}
.form-row > label {
	// padding: .5em 1em .5em 0;
	flex: 1;
}
.form-row > input {
	flex: 3;
}
.profile-form{
	max-width: 500px;

}

.profile-avatar{
	margin-bottom: 40px;
	.avatar-edit{
		position: relative;

		display: inline-block;
	}
	.btn-upload{
		position: absolute;
		bottom: 10px;
		left: -10px;
		background: #003566;
		width: 34px;
		height: 34px;
		border-radius: 20px;
		color: #ffffff;
		i{
			font-size: 14px;
			line-height:26px ;
		}
	}

}


.empty-state{
	color: #ADB5BD;
	svg{
		text-align: center;
		margin-bottom: 30px;

	}
	h3{
		text-align: center;

	}
}



.addresses-list{
	.address-content{
		display: table-cell;
		// border: 1px solid grey;
		i{
			font-size: 20px;
			margin-left: 10px;
		}
		
	}
	.address-control{
		display: table-cell;
		// border: 1px solid grey;
		a{
			i{
				font-size: 24px;
			}
			&:nth-child(2){
				margin-left: 50px;
			}
		}
	}
	.address-item{
		display: table-row;
		// display: flex;
		.address-info{
			display: inline-block;
			margin-left: 40px;
			font-weight: 300; 
			font-size: 16px;
			margin-bottom: 40px;
		}
		.address-type{
			margin-left: 50px;
			color: #ADB5BD;
		



		}
	}
}
// .form-row > input,
// .form-row > button {
// 	padding: .5em;
// }
// .form-row > button {
//  background: gray;
//  color: white;
//  border: 0;
// }





















@media (min-width:1200px) {
	.container {
		max-width: 1200px
	}
}

.page-header {
	position: relative;
	color: #fff;
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	
}


//Sonqr

.category-item{
	img{
		max-width: 100%;
		margin-bottom: 20px;
	}
	text-align: center;

}
.counter-item-text{
	text-align: center;
	// margin-bottom: 80px;
	p{
		font-size: 32px;
		color: #FFC300;
		white-space: nowrap;
		// line-height: 1.2;
		margin-bottom: 35px;

		
	}
	span{
		color:#ffffff;
		font-size: 32px;
	}


	
}

.counter-item {
	text-align: center;
	// margin-bottom: 80px;

	h4 {
		// margin-top: 50px;
		color: #ffffff;


	}

	p {
		font-size: 50px;
		color: #FFC300;
		margin-bottom: 35px;
		white-space: nowrap;
		// margin-top:20px;
	}
	h3{
		color: #00488F;
		padding-top: 40px;
	}
	


}
.downlad-stores{
	background-size: contain;
    height: 292px;
    background-repeat: no-repeat;
	margin-bottom: 90px;
	h3{
		font-size: 28px;
		text-align: center;
		padding-top: 60px;
		span{
			font-weight: bold;
			
			
		}
	}
	.app-stores{
		text-align: center;
	}
	img{
		height: 50px;
		margin-right: 35px;
	}

}
.about-expert {
	h2 {
		font-size: 24px;
	}

	p {
		font-size: 24px;
		line-height: 1.4em;
		font-weight: 300;
		color: #001D3D;
	}
}



.join-cards {
	max-width: 1000px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;

	.join-col {
		padding: 0 25px;
		flex: 1;
		// flex-grow: 1;

	}

	.join-card {
		text-align: center;
		// width: calc((100% / 2) - 50px );
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
		border-radius: 54px;
		padding: 50px 30px;

		h3 {
			color: #FFC300;
		}

		p {
			font-size: 20px;
			line-height: 1.4em;
		}
		i{
			position: relative;
			top:5px;
		}

	}
}


.gift-text {
	text-align: right;
	h3 {
		margin-bottom: 60px;
	}

	
}


.gift-text {
	h3 {
		margin-bottom: 20px;

	}

	p {
		margin-bottom: 30px;
	}
	.gift-form {
		max-width: 674px;
		position: relative;
	
		input {
			height: 68px;
			border-radius: 10px;
	
		}
	
		input[type="text"] {
			padding: 0 30px;
		}
	
		input[type="button"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 20%;
			background: #003566;
			color: #fff;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			font-size: 20px;
		}
		.text-under-input{
			color:#00488F;
			padding-top: 40px;
			font-size: 17px;
			i{
				margin-left: 10px;
				
			}
		}
		
		
	}
	
}
.gift-image{
	img{
		margin-right: 45%;
	}
}





.app-download{
	width: 100%;
	// height: 285px;
	background: #ffffff;
	// margin: 0 auto;
	position: relative;

	.app-mockup{
		position: absolute;
		right: calc(62% - 398px);
		z-index: 0;
		bottom: -250px;
	}
	
	.app-stores{
		padding-top: 10px;
		img{
			height: 50px;
			margin-left: 10px;
		}
		.app-terms{
			font-size: 16px;
			font-weight: 300;
			padding-top: 50px;

		}
	}

	.app-content{
		padding: 30px 0 30px 100px;
		.app-promo{
			float: right;
			margin-left: 30px;
			padding-top: 60px;
			h2{
				font-size: 45px;
				margin-bottom: 10px;
			}
			span{
				font-size: 20px;

			}
		}
		.app-text{
			max-width: 380px;
			text-align: right;
			padding-top: 60px;
			h3{
				margin-bottom:10px;
			}
			.app-slogan{
				color: #003566;
				font-size: 20px;
				margin-bottom: 15px;
			}
			
		}

	
	}

}




.contact-section {
	text-align: center;

	.section-header {
		p {
			margin-bottom: 50px;

		}
	}
}

.contact-info {
	display: inline-block;
	list-style: none;

	li {
		float: right;

		i {
			color: #FFC300;
			margin-left: 5px;
		}

	}

	li:nth-child(odd) {
		margin-left: 60px;

	}
}


.modal {

	text-align: center;

	.close {
		position: absolute;
		left: 20px;
		top: 20px;

		span {
			font-size: 20px;

		}
	}

	.modal-body {
		padding: 20px;

		i {
			color: #FFC300;
			font-size: 50px;
			margin-bottom: 20px;
		}
	}
}

.offer-modal {

	.modal-dialog {
		max-width: 1000px !important;
	}

	.offers-list {
		padding-top: 30px;
	}

	.offer-item {
		&:last-child {
			margin-bottom: 0;
		}

		.offer-content {
			text-align: right;
		}
	}
}


.modal-xl {

	.modal-dialog {
		max-width: 1000px !important;
	}

	.offer-item {
		&:last-child {
			margin-bottom: 0;
		}

		.offer-content {
			text-align: right;
		}
	}

}

.qty-number {

	#minus,
	#plus {
		width: 28px;
		height: 28px;
		color: #ffffff;
		border: none;
		border-radius: 5px;
		border: 1px solid #9A9999;
		font-size: 16px;
		line-height: 26px;

		&:focus {
			outline: none;
		}
	}

	#minus {
		color: #9A9999;

	}

	#plus {
		background: #003566;
		color: #FFC300;
		border-color: #003566;

	}

	#value {
		width: 50px;
		height: 28px;
		border: none;
		background: rgba(0, 0, 0, 0);
		text-align: center;
		font-size: 16px;

		&:focus {
			outline: none;
		}

	}
}



.product-addons {
	background: #E9ECEF;
	padding: 20px 40px;
	text-align: right;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	.addons-list {
		width: 75%;
	}

	.addons-price {
		width: 25%;
		text-align: center;

		p {
			font-size: 20px;
			color: #003566;
		}



	}

	.control--checkbox {
		display: inline-block;
		margin-left: 50px;
		// width: 25%;
	}

	.control__indicator {

		width: 17.5px;
		height: 17.5px;
		border-radius: 3px;

	}

	.control input:checked~.control__indicator {
		background: #003566;
	}

	.control--checkbox .control__indicator:after {
		left: 6px;
		top: 3px;
		width: 4px;
		height: 8px;
	}
}



.product-view {
	position: relative;
	background: #E9ECEF;
	overflow: hidden;
	margin-bottom: 30px;
	text-align: right;
	display: flex;

	.control--radio {
		display: inline-block;
		margin-left: 50px;
	}

	.offer-img {
		float: right;
		margin-left: 10px;
		border: 1px solid #FFC300;
		background: #ffffff;
		padding: 5px;
		width: 100px;
		height: 100px;
	}

	.product-options {
		overflow: hidden;
	}

	.product-content {
		width: 75%;
		max-width: 630px;

		.offer-title {
			padding-top: 10px;
			font-size: 20px;
			color: #00488F;
			font-weight: 300;
			margin-bottom: 10px;

		}

		.offer-info {
			font-size: 16px;
			color: #000814;
			line-height: 1.5em;

		}
	}

	.offer-price {
		font-size: 20px;
		color: #003566;
	}

	.product-qty {

		display: flex;
		align-items: center;
		justify-content: center;

		.qty-number {
			margin-left: 30px;
		}
	}
}

.digit-otp {
	h4 {
		margin-bottom: 20px;
	}

	.otp-text {
		margin-bottom: 20px;
	}

	.otp-btn {
		text-align: center;
	}

}


.digit-group {
	display: inline-block;
	margin-bottom: 40px;

	label {
		display: block;
		text-align: right;
		font-size: 16px;
		color: #003566;
	}

	input {
		display: inline-block;
		width: 100px;
		height: 64px;
		border-radius: 22px;
		border: 1px solid #CED4DA;
		outline: none;
		box-shadow: none;
		text-align: center;
		font-size: 20px;
		position: relative;
		margin-bottom: 15px;


		&:after {
			position: absolute;
			content: '';
			width: 100px;
			height: 2px;
			background: red;
			top: 0;
			left: 0;
			
		}
	}


	.digit-resend {
		text-align: right;

		span {
			float: left;

		}
	}
}

.digit-items {
	margin-left: -7.5px;
	margin-right: -7.5px;

	.digit-item {
		padding: 0 7.5px;
		display: inline-block;
	}
}

.otp-done {

	padding: 60px;
}

.address-form {
	text-align: right;
	max-width: 540px;
	margin: 0 auto;

	.form-group {

		.form-control {
			background: #F9F9F9;
		}

	}

}

.credit-form {
	text-align: left;
	max-width: 540px;
	margin: 0 auto;

	.form-group {

		.form-control {
			background: #F9F9F9;
		}
	}
}