// Start Media From 1200px To 0px
@include media("<=desktop") {
  //home

  .navbar-nav .nav-item a {
    padding: 0 10px;
  }
  #footer .social-widget .social-links {
    padding: 10px;
  }
  .plans-box p {
    font-size: 16px;
  }
  .plans-box h2 {
    font-size: 16px;
  }
  .image-hero {
    img {
      max-width: 100%;
      margin-right: 182px;
      margin-top: 99px;
    }
  }
  //contact
  .contact-wrap {
    max-width: 100%;
  }
  .form-contact input {
    max-width: 100%;
  }
  textarea {
    max-width: 100%;
  }
  .image-contact {
    padding: 70px;
    img {
      max-width: 100%;
    }
  }
  //category
  .col.w-20 {
    min-width: 33%;
  }
  //bussiness
  .cart-item .price p {
    margin-right: 100px;
  }
  .cart-item .type p {
    font-size: 25px;
  }
  .cart-item .number p {
    font-size: 25px !important;
  }
  .cart-item .days p {
    font-size: 25px !important;
  }
} //End Media

// Start Media From 992px To 1199px
@include media(">=tablet", "<desktop") {
  //bussiness
  .cart-item .price p {
    margin-right: 30px;
  }
  .cart-item .type p {
    font-size: 20px;
  }
  .cart-item .number p {
    font-size: 20px !important;
  }
  .cart-item .days p {
    font-size: 20px !important;
  }
} //End Media
// Start Media From 991px To 0px
@include media("<=tablet") {
  //main
  .image-hero img {
    margin-right: 150px;
    margin-top: 130px;
  }
  .plans-box h2 {
    font-size: 14px;
    font-weight: bold;
  }
  .plans-box p {
    font-size: 12px;
  }
  //footer
  .col-sm-12 {
    min-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  #footer .contact-infro p {
    margin: auto;
    width: 500px;
  }
  .col-sm-6 {
    min-width: 50%;
    text-align: center;
  }
  //category
  .col.w-20 {
    min-width: 50%;
  }
  //bussiness
  .cart-item .price p {
    margin-right: 20px;
  }
  .cart-item .type p {
    font-size: 16px;
    margin-left: 40px;
  }
  .cart-item .number p {
    font-size: 16px !important;
    margin-left: 40px !important;
  }
  .cart-item .days p {
    font-size: 16px !important;
    margin-left: 40px !important;
  }
  .cart-item .price p {
    font-size: 30px;
  }
  .cart-item .item-control {
    top: 156px;
  }
  //orders
  .order-content .input-names .form-orders {
    max-width: 295px;
  }
  .order-content .options-list {
    max-width: 100%;
    display: inline-flex;
  }
  // navbar
  .navbar-nav {
    background-color: #fff;
    margin-top: 30px;
    text-align: center;
  }
  .navbar-buttons {
    background-color: #fff;
    text-align: center;
    padding: 15px;
  }
} //End Media
// Start Media From 768px To 991px
@include media(">=phablet", "<tablet") {
  //jobs
} //End Media
// Start Media From 767px To 0px
@include media("<=phablet") {
  #footer .social-widget .social-links {
    padding: 4px;
  }
  .image-hero img {
    margin-top: 0;
  }
  .hero-title {
    text-align: center;
  }
  #footer .copy-right p {
    font-size: 18px;
  }
  .plans-box p {
    font-size: 20px;
  }
  .plans-box h2 {
    font-size: 20px;
  }
  .plans {
    margin-top: 130px;
  }
  //bussiness
  .cart-item .item-control {
    position: static;
    text-align: center;
  }
  .cart-item .business-infro {
    margin-bottom: 20px;
    min-width: 100%;
  }
  .cart-item .price p {
    margin-right: 50px;
  } //orders
  .order-content .input-names {
    display: block;
  }
  .order-content .input-names .form-orders {
    min-width: 100%;
  }
  .order-content .options-list {
    display: block;
  }
  .order-content .options-list select {
    min-width: 100%;
    margin-bottom: 20px;
  }
} //End Media
//Start Media From 0px To 550px
@include media("<=550px") {
  .image-hero img {
    margin-right: 83px;
  }
  .col-sm-6 {
    margin-bottom: 20px;
  }
  #footer .hours-of-delivery {
    float: none;
  }
  #footer .copy-right p {
    font-size: 12px;
    font-weight: bold;
  }
  //account
  .form-group .form-control {
    max-width: 100%;
  }
  .account-wrap .btn-main {
    max-width: 100%;
  }
  //category
  .col.w-20 {
    min-width: 100%;
  }
} //End Media
//Start Media From 0px To 480px
@include media("<=480px") {
  #footer .contact-infro p {
    max-width: 100%;
  }
  //bussines
  .cart-item .price p {
    margin-right: 30px;
  }
  .cart-item .type p {
    margin-left: 20px;
  }
  .cart-item .number p {
    margin-left: 20px !important;
  }
  .cart-item .days p {
    margin-left: 20px !important;
  }
} //End Media
