// Start Media From 1200px To 1940px
@include media(">desktop", "<1940px") {
  .container-lg {
    max-width: 1360px;
  }
} //End Media

@include media(">1367px", "<1750px") {
  .service-grid {
    margin-right: -10%;
  }
}
// Start Media From 1201px To 1499px
@include media(">desktop", "<1500px") {
  .about-shape {
    width: 1920px;
    left: -10%;
  }
} //End Media

// Start Media From 1024px To 1366px
@include media(">1128px", "<1366px") {
} //End Media

// Start Media From 1200px To 0px
@include media("<=desktop") {
  .service-grid {
    margin-right: 0;
  }

  .team-list {
    .team-item {
      width: calc(100% / 12 * 3);
    }
  }

  .map-card {
    margin-right: 0;
    margin-left: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
} //End Media

// Start Media From 992px To 1199px
@include media(">=tablet", "<desktop") {
  .hero-shape {
    transform: scale(0.8);
    transform-origin: top right;
  }
  .page-shape {
    transform: scale(0.8);
    transform-origin: top right;
  }

  .about-shape {
    width: 1920px;
    left: -20%;
  }
  .grid-item-col-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-item-col-3 {
    width: calc(100% / 12 * 6);
  }
  .grid-item-col-4 {
    width: calc(100% / 12 * 6);
  }
  .grid-item-col-8 {
    width: calc(100% / 12 * 12);
  }
  .grid-item-h2 {
    height: 262px;
    img {
      height: 262px;
    }
  }
} //End Media

// Start Media From 991px To 0px
@include media("<=tablet") {
  .service-item.hide-item {
    display: none;
  }

  // Responsive Menu
  .common-menu-wrap {
    float: none;
    &.navbar-collapse {
      background: #ffffff;
      padding: 30px;
      border-radius: 5px;
      position: absolute;
      top: 100px;
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      right: 15px;
      ul {
        float: none;
        li {
          width: 100%;
          a {
            display: block;
            color: #000;
            font-size: 16px;
            padding: 5px 10px;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
} //End Media

// Start Media From 768px To 991px
@include media(">=phablet", "<tablet") {
  .hero-shape {
    transform: scale(0.8);
    transform-origin: top right;
    right: -40%;
  }

  .page-shape {
    transform: scale(0.8);
    transform-origin: top right;
    right: -40%;
  }

  .about-shape {
    width: 1920px;
    left: -30%;
  }
  .team-list {
    .team-item {
      width: calc(100% / 12 * 6);
    }
  }

  .grid-item-col-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-item-col-3 {
    width: calc(100% / 12 * 6);
  }
  .grid-item-col-4 {
    width: calc(100% / 12 * 6);
  }
  .grid-item-col-8 {
    width: calc(100% / 12 * 12);
  }
  .grid-item-h2 {
    height: 262px;
    img {
      height: 262px;
    }
  }
} //End Media

// Start Media From 767px To 0px
@include media("<=phablet") {
  #hero.flex-center {
    align-items: flex-end;
  }

  .grid-item-h2 {
    min-height: 250px;
  }
  .shape-service {
    display: none;
  }

  .team-list {
    .team-item {
      width: calc(100% / 12 * 6);
    }
  }

  .clinic-content::before {
    display: none;
  }

  .team-list {
    display: flex;
    flex-flow: row wrap;
  }
  .team-list .team-text {
  }
  .team-list .team-item {
    order: 1;
  }

  .team-list .team-text {
    margin-left: 0;
    max-width: none;
    padding: 0 15px;
    order: 0;
    flex: 1 100%;
    width: 100%;
  }
  .clinic-date {
    margin-bottom: 40px;

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: #d3dae9;
      right: 0;
      left: 0;
      bottom: 25px;
    }
    li {
    }
  }
} //End Media
// Start Media From 480px To 767px
@include media(">=phone", "<phablet") {
  .hero-content {
    margin-top: 250px;
  }
  .hero-shape {
    transform: scale(0.6);
    transform-origin: top right;
    right: -40%;
  }
  .page-shape {
    transform: scale(0.6);
    transform-origin: top right;
    right: -50%;
  }
  .about-shape {
    width: 1920px;
    left: -60%;
  }
  .grid-item-col-6 {
    width: calc(100% / 12 * 12);
  }
  .grid-item-col-3 {
    width: calc(100% / 12 * 12);
  }
  .grid-item-col-4 {
    width: calc(100% / 12 * 12);
  }
  .grid-item-col-8 {
    width: calc(100% / 12 * 12);
  }
  .grid-item-h2 {
    height: 262px;
    img {
      height: 262px;
    }
  }
} //End Media

// Start Media From 0px To 550px
@include media("<=550px") {
  #hero {
    height: 600px;
  }
  
  
} //End Media

// Start Media From 0px To 480px
@include media("<=phone") {
  //main
  .top-bar {
    .lang-menu {
      margin-left: 0px;
    }

    .top-links {
      margin-bottom: 10px;
      li {
        margin-left: 0;
        margin-right: 50px;
      }
    }
  }
  .hero-title {
    h4 {
      width: 94%;
      font-size: 15px;
    }
    .search-input {
      width: 98%;
      margin-bottom: 15px;

      input[type="text"] {
       max-width:  100%;
      }
      
    }
  }
  .section-content {
    .downlad-stores {
     
        .top-bar {
          .lang-menu {
            margin-left: 0px;
          }
      
          .top-links {
            margin-bottom: 10px;
            li {
              margin-left: 0;
              margin-right: 50px;
            }
          }
        }
        .hero-title {
          h4 {
            max-width: 100%;
            font-size: 15px;
          }
          .search-input {
            margin-bottom: 15px;
      
            input[type="text"] {
            }
          }
        }
        .section-content {
          .downlad-stores {
            img{
              background-image: none;
            }
                
      
            h3 {
              padding-top: 30px;
              font-size: 24px;
              margin-bottom: 33px;
              
          
              
            }
            .app-stores {
              img {
                margin-right: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
              }
            }
          }
          .counter-item {
            p {
              margin-top: 50px;
            }
          }
      
          .category-item {
            img {
              max-width: 70%;
              margin-left: auto;
              margin-right: auto;
            }
          }
          .join-card {
            margin-bottom: 20px;
          }
          .gift-image {
            img {
              max-width: 100%;
              margin-right: 14%;
            }
          }
          .app-mockup {
            img {
              display: none;
            }
          }
          .app-content {
            padding: 50px;
            .app-text {
              h3 {
                font-size: 22px;
              }
              .app-slogan {
                text-align: center;
              }
            }
            .app-stores {
              text-align: center;
              p {
                padding-top: 0;
              }
              img {
                margin-bottom: 15px;
              }
            }
          }
        }
        .footer-content {
          .col-sm-3 {
            .social-widget {
              float: right;
              margin-top: 15px;
            }
          }
          .col-sm-2 {
            img {
              max-width: 100%;
              position: absolute;
              top: -82px;
              right: 300px;
            }
          }
        }
        //about
        .about-expert {
          width: 100%;
          text-align: center;
          p {
            font-size: 16px;
          }
        }
        .col-md-6 {
          img {
            max-width: 100%;
          }
        }
        
        //account
        .account-wrap {
          .account-tabs {
            a {
              padding: 18px 4px;
            }
          }
        }
        //jobs
        .search-wrap {
          h3 {
            font-size: 15px;
            line-height: 15px;
          }
        }
        //store
        .store-tab {
          display: flow-root;
          text-align: center;
          a {
            margin-bottom: 15px;
          }
        }
        .store-section {
          .menu-img {
            width: 104px;
            height: 104px;
            margin-left: 5px;
          }
        }
        //rating
        .users-rating {
          .rating-date {
            .date-day {
              font-size: 13px;
            }
            .date-time {
              font-size: 13px;
            }
          }
        }
        //offers
        .offers-list {
          .offer-item {
            .offer-price {
              top: 55px;
            }
          }
        }
        //category
        .stores-list {
          .col.w-20 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20% !important;
            flex: 0 0 100% !important;
            max-width: 100%;
          }
          .store-img {
            text-align: center;
      
            img {
              width: 50%;
              height: auto;
            }
          }
        }
        //search-products
        .stores-list {
          .col.w-25 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20% !important;
            flex: 0 0 100% !important;
            max-width: 100%;
          }
        }
        //orders
        .cart-item {
          .item-info {
            max-width: 40%;
          }
          .order-summary-1 {
            max-width: 100%;
          }
        }
        //about
        .store-data {
          .info-list {
            li {
              font-size: 16px;
            }
          }
          .info-list.no-padding{
            font-size: 16px;
          }
        }
      
          

      h3 {
        padding-top: 30px;
        font-size: 24px;
        margin-bottom: 33px;
      }
      .app-stores {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;
        }
      }
    }
    .counter-item {
      p {
        margin-top: 50px;
      }
    }

    .category-item {
      img {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .join-card {
      margin-bottom: 20px;
    }
    .gift-image {
      img {
        max-width: 100%;
        margin-right: 14%;
      }
    }
    .app-mockup {
      img {
        display: none;
      }
    }
    .app-content {
      padding: 50px;
      .app-text {
        h3 {
          font-size: 22px;
        }
        .app-slogan {
          text-align: center;
        }
      }
      .app-stores {
        text-align: center;
        p {
          padding-top: 0;
        }
        img {
          margin-bottom: 15px;
        }
      }
    }
  }
  .footer-content {
    .col-sm-3 {
      .social-widget {
        float: right;
        margin-top: 15px;
      }
    }
    .col-sm-2 {
      img {
        max-width: 100%;
        position: absolute;
        top: -82px;
        right: 300px;
      }
    }
  }
  //about
  .about-expert {
    width: 100%;
    text-align: center;
    p {
      font-size: 16px;
    }
  }
  .col-md-6 {
    img {
      max-width: 100%;
    }
  }
  
  //account
  .account-wrap {
    .account-tabs {
      a {
        padding: 18px 4px;
      }
    }
  }
  //jobs
  .search-wrap {
    h3 {
      font-size: 15px;
      line-height: 15px;
    }
  }
  //store
  .store-tab {
    display: flow-root;
    text-align: center;
    a {
      margin-bottom: 15px;
    }
  }
  .store-section {
    .menu-img {
      width: 104px;
      height: 104px;
      margin-left: 5px;
    }
  }
  //rating
  .users-rating {
    .rating-date {
      .date-day {
        font-size: 13px;
      }
      .date-time {
        font-size: 13px;
      }
    }
  }
  //offers
  .offers-list {
    .offer-item {
      .offer-price {
        top: 55px;
      }
    }
  }
  //category
  .stores-list {
    .col.w-20 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20% !important;
      flex: 0 0 100% !important;
      max-width: 100%;
    }
    .store-img {
      text-align: center;

      img {
        width: 50%;
        height: auto;
      }
    }
  }
  //search-products
  .stores-list {
    .col.w-25 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20% !important;
      flex: 0 0 100% !important;
      max-width: 100%;
    }
  }
  //orders
  .cart-item {
    .item-info {
      max-width: 43%;
    }
    .order-summary-1 {
      max-width: 100%;
    }
  }
  //about
  .store-data {
    .info-list {
      li {
        font-size: 16px;
      }
    }
    .info-list.no-padding{
      font-size: 16px;
    }
  }
  //addresses
  .addresses-list{
    .address-control{
      display: inline-table;
      padding: 10px;
    }
    .address-item{
      .address-info{
        margin-bottom: 20px;
      }

    }


  }
  //cart
  .cart-content{
    .cart-item{
      .item-control{
        top: 70px;
      }

    }

  }

  


} //End Media
