$font-path:        "../fonts/" !default;


// @font-face {
//   font-family: 'dentiest';
//   src:  url('#{$font-path}dentiest.eot?cmi0vl');
//   src:  url('#{$font-path}dentiest.eot?cmi0vl#iefix') format('embedded-opentype'),
//     url('#{$font-path}dentiest.ttf?cmi0vl') format('truetype'),
//     url('#{$font-path}dentiest.woff?cmi0vl') format('woff'),
//     url('#{$font-path}dentiest.svg?cmi0vl#dentiest') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'sonqer';
  src:  url('#{$font-path}sonqer.eot?tzyhq');
  src:  url('#{$font-path}sonqer.eot?tzyhq#iefix') format('embedded-opentype'),
    url('#{$font-path}sonqer.ttf?tzyhq') format('truetype'),
    url('#{$font-path}sonqer.woff?tzyhq') format('woff'),
    url('#{$font-path}sonqer.svg?tzyhq#sonqer') format('svg');
  font-weight: normal;
  font-style: normal;
  // font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sonqer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e90c";
}
.icon-info:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-car:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-calender:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-arrow-prev:before {
  content: "\e907";
}
.icon-arrow-next:before {
  content: "\e908";
}
.icon-logout:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-target:before {
  content: "\e911";
}
.icon-notification:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-offer:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e915";
}
.icon-world:before {
  content: "\e916";
}
.icon-discount:before {
  content: "\e900";
}
.icon-loyalty:before {
  content: "\e917";
}
.icon-money:before {
  content: "\e918";
}
