{% extends "layout.njk" %}

{% block content %}
<div class="container">

	<div class="page-card">

		<div class="card-header">
			<h3><i class="icon-map"></i>عناوين التوصيل</h3>
		</div>

		<div class="card-content">
			<div class="addresses-list">
				<div class="address-item">
					<div class="address-content">
						<i class="icon-location"></i>
						<h5 class="address-info">شارع 18 احمد فهمى - الفلكي - السيوف - الاسكندرية</h5>
						<span class="address-type">( <i class="fa fa-home"></i> عنوان المنزل)</span>
					</div>
					<div class="address-control">
						<a href="#"><i class="icon-delete"></i></a>
						<a href="#"><i class="icon-edit"></i></a>
					</div>
				</div>
				
				<div class="address-item">
					<div class="address-content">
						<i class="icon-location"></i>
						<h5 class="address-info">شارع 45 فهمى -ميامي - الاسكندرية</h5>
						<span class="address-type">( <i class="fa fa-home"></i> عنوان المنزل)</span>
					</div>
					<div class="address-control">
						<a href="#"><i class="icon-delete"></i></a>
						<a href="#"><i class="icon-edit"></i></a>
					</div>
				</div>
				
				<div class="address-item">
					<div class="address-content">
						<i class="icon-location"></i>
						<h5 class="address-info">شارع 20  احمد مبارك - المندرة - الاسكندرية</h5>
						<span class="address-type">( <i class="fa fa-home"></i> عنوان المنزل)</span>
					</div>
					<div class="address-control">
						<a href="#"><i class="icon-delete"></i></a>
						<a href="#"><i class="icon-edit"></i></a>
					</div>
				</div>
				

				
			</div>


	
		</div>


	</div>


</div>


{% endblock %}