{% extends "layout.njk" %}

{% block content %}
<div class="container">

	<div class="page-card">

		<div class="card-header">
			<h3><img src="assets/images/map.svg" alt=""> عناوين التوصيل</h3>
		</div>

		<div class="section-content">
		<div class="container">
			
			</div>
			<div class="cart-content">

					<h6 class="item-area"> <i class="fa fa-map-marker" aria-hidden="true"></i>شارع 20 أحمد فهمي - ميامي - الإسكندرية <span>( <img src="assets/images/home.svg" alt="">عنوان المنزل )</span></h6>
					
				
					<h6 class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>  شارع 45 فهمى -ميامي - الاسكندرية  <span>( <img src="assets/images/table.svg" alt="">عنوان المنزل )</span></h6>
					
					<h6 class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>    شارع 20  احمد مبارك - المندرة - الاسكندرية <span>( <img src="assets/images/home.svg" alt="">عنوان المنزل )</span></h6>
					
				
				
				<button  class="btn btn-main">أضف عنوان جديد</button>	

			</div>

	
		</div>


	</div>


</div>


{% endblock %}