{% extends "layout.njk" %}

{% block content %}
<section class="common-section">
	<div class="section-content">
		<div class="container">
			<div class="section-title">
				<h2> <i class="icon-cart" style="color:#FFD60A;"></i> سلة مشترياتك</h2>
				<div class="divider">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="row">
					<div class="col-md-8">
					<div class="cart-content">

				<div class="cart-item">
				
					<h5 class="item-store"> كرم الشام </h5>
					<p class="item-info">  <img  src="assets/images/sandwich.png">ساندوتش دجاج بالكاري لارج + نص فرخه مشوية + 4 فت شاورما   </p>
					<p class="item-info">  <img  src="assets/images/cart-01-fish.png">طبق رز + سلطة + لتر كولا + صوص باربيكيو + 4 فتة شاورما    </p>
					
					<div class="item-control">


						
						<div class="order-summary-1">
							<ul class="summary-list-1">
							
								<li>
									<span class="summary-name">مجموع الطلبات</span>
									<span class="summary-cost">240 ج.م</span>
								</li>
								<li>
									<span class="summary-name">رسوم التوصيل</span>
									<span class="summary-cost">12 ج.م</span>
								</li>
							
							</ul>
							<div class="order-total">
								<span class="total-name">إجمالي </span>
								<span class="total-cost">250     ج.م</span>

							</div>
							
						<a class="btn btn-main" href="#">تنفيذ الطلب</a>
						</div>
					</div>
				</div>
				<div class="cart-item">
					<h5 class="item-store">  عيش وملح   </h5>
					<p class="item-info">  <img  src="assets/images/sandwich.png">ساندوتش دجاج بالكاري لارج + نص فرخه مشوية + 4 فت شاورما   </p>
					<p class="item-info">  <img  src="assets/images/cart-01-fish.png">طبق رز + سلطة + لتر كولا + صوص باربيكيو + 4 فتة شاورما    </p>
					<div class="item-control">
						
						<div class="order-summary-1">
							<ul class="summary-list-1">
							
								<li>
									<span class="summary-name">مجموع الطلبات</span>
									<span class="summary-cost">240 ج.م</span>
								</li>
								<li>
									<span class="summary-name">رسوم التوصيل</span>
									<span class="summary-cost">12 ج.م</span>
								</li>
							
							</ul>
							<div class="order-total">
								<span class="total-name">إجمالي </span>
								<span class="total-cost">250 ج.م</span>

							</div>
							
						<a class="btn btn-main" href="#">تنفيذ الطلب</a>
						</div>
					</div>
				</div>
				<div class="cart-item">
					<h5 class="item-store"> نص رغيف</h5>
					<p class="item-info">  <img  src="assets/images/sandwich.png">ساندوتش دجاج بالكاري لارج + نص فرخه مشوية + 4 فت شاورما   </p>
					<p class="item-info">  <img  src="assets/images/cart-01-fish.png">طبق رز + سلطة + لتر كولا + صوص باربيكيو + 4 فتة شاورما    </p>
					<div class="item-control">
					
						
						<div class="order-summary-1">
							<ul class="summary-list-1">

							
								<li>
									<span class="summary-name">مجموع الطلبات</span>
									<span class="summary-cost">240 ج.م</span>
								</li>
								<li>
									<span class="summary-name">رسوم التوصيل</span>
									<span class="summary-cost">12 ج.م</span>
								</li>
							
							</ul>
							<div class="order-total">
								<span class="total-name">إجمالي </span>
								<span class="total-cost">250 ج.م</span>

							</div>
							
						   <a class="btn btn-main" href="#">تنفيذ الطلب</a>

						</div>
					</div>
				</div>
			</div>
						

					</div>
					
					<div class="col-md-4">
						<div class="order-summary">
							<ul class="summary-list">
								<li>
									<span class="summary-name">مجموع الطلبات</span>
									<span class="summary-cost">240 ج.م</span>
								</li>
								<li>
									<span class="summary-name">رسوم التوصيل</span>
									<span class="summary-cost">12 ج.م</span>
								</li>
								<li>
									<span class="summary-name">كود الخصم</span>
									<span class="summary-cost">12 ج.م</span>
								</li>
				
							
							</ul>
							<div class="order-total">
								<span class="total-name">إجمالي المبلغ</span>
								<span class="total-cost">250 ج.م</span>

							</div>
							<form class="coupon-form" method="post">
								<label for="name">أدخل كود الخصم</label> 
								<div class="form-group">
								<input class="form-control" type="text">
								<input class="btn" type="button" value="تفعيل">
								</div>
							</form>
							<button type="submit" class="btn btn-main">التالي</button>
							<button type="submit" class="btn btn-main">العودة للصفحة الرئيسية</button>
						</div>
					</div>
				</div>

		</div>
	</div>
</section>



{% endblock %}