{% extends "layout.njk" %}

{% block content %}

	<div class="page-header flex-center " style="background-image: url('assets/images/bg-fish.png');">
		<div class="category-profile">	
			<div class="profile-image">
				<img src="assets/images/category-image.png" alt="">
			</div>
			<h1>الأسماك</h1> 
			<p>  357 مطعم أسماك  </p>		
		</div>
	</div>
	<div class="container">
		<div class="search-wrap">
			<h3>إبحث عن ما تريد طلبه</h3>
			<form class="search-form" method="post">
				<input class="form-control" type="text" name="" placeholder="إبحث عن مطعم او مكان او منطقه او علم معروف " id="">
				<input class="btn" type="button" value="بحث">
			</form>
			<button class="btn btn-filter">
				<i class="fa fa-sliders" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<div class="stores-list">
	<div class="container" >
		<div class="row">
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/good-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> زا جود فيش</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/happy.png" alt="">
					</div>
					<div class="store-info">
						<h5>هابي مارلين </h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/happy.png" alt="">
					</div>
					<div class="store-info">
						<h5>هابي مارلين </h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/happy.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fish-moon.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> زا جود فيش</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sea-food.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh.png" alt="">
					</div>
					<div class="store-info">
						<h5>زا جود فيش</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/thefish-log.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/thefish-log.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/thefish-log.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/logo-fresh-tastey.png" alt="">
					</div>
					<div class="store-info">
						<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/happy.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/happy.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/happy.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/good-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/fresh-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>



		</div>
	</div>
	</div>


	{% include "parts/pagination.njk" %}

	
				
{% endblock %}    


