{% extends "layout.njk" %}

{% block content %}

	<div class="page-header flex-center ">
		<div class="category-profile">	
			<h1>الوجبات</h1> 
		</div>
	</div>
	<div class="container">
		
	</div>
	<div class="stores-list">
	  <div class="container-fluid" >
		<div class="row">
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
						<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
						<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
						<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
						<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
							<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/sandwich.png" alt="">
					</div>
					<div class="store-info">
						<h5> برجر دايت لحم + بطاطا مشوية</h5>
						<p> 12.00 ريال</p>
					</div>
				</div>
			</div>
			
			
			
			
			
			



		</div>
	</div>
	</div>


	{% include "parts/pagination.njk" %}

	
				
{% endblock %}    


