{% extends "layout.njk" %} {% block content %}

<div class="container">
  <div id="pro-wizard">
    <div class="step-content">
      <div class="container">
        <div class="order-complete">
          <svg
            data-name="checkmark (1)"
            xmlns="http://www.w3.org/2000/svg"
            width="175.281"
            height="175.281"
          >
            <path
              data-name="Path 31295"
              d="M87.641 0a87.641 87.641 0 1087.641 87.641A87.9 87.9 0 0087.641 0zm0 157.753a70.113 70.113 0 1170.113-70.113 70.319 70.319 0 01-70.113 70.113z"
              fill="#3ca044"
            />
            <path
              data-name="Path 31296"
              d="M72.741 98.157L56.09 81.505l-12.27 12.27 28.921 29.8 58.72-58.721-12.27-12.27z"
              fill="#3ca044"
            />
          </svg>
          <div class="thank-you">
            <h4>تم تأكيد الطلب بنجاح</h4>
            <p>سيتم التواصل معك في اقرب وقت</p>
          </div>
          <a class="btn btn-main" href="#"> الرئيسية</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
