{% extends "layout.njk" %} {% block content %}
<section class="common-section">
  <div class="section-content">
    <div class="container">
      <div class="section-title">
        <h1>الباقات المتنوعة</h1>
      </div>
      <div class="cart-content">
        <div class="cart-item">
          <h1 class="item-store">الباقات المتنوعة #1</h1>
          <div class="business-infro">
            <div class="days">
              <p>عدد الأيام</p>
              <p>20</p>
            </div>
            <div class="number">
              <p>عدد الوجبات</p>
              <p>2</p>
            </div>
            <div class="type">
              <p>نوع الوجبات</p>
              <p>مشكل</p>
            </div>
            <div class="price">
              <p>820 <span>ريال</span></p>
            </div>
          </div>

          <div class="item-control">
            <a class="btn btn-main" href="#"> طلب</a>
          </div>
        </div>
        <div class="cart-item">
          <h1 class="item-store">الباقات المتنوعة #2</h1>
          <div class="business-infro">
            <div class="days">
              <p>عدد الأيام</p>
              <p>20</p>
            </div>
            <div class="number">
              <p>عدد الوجبات</p>
              <p>2</p>
            </div>
            <div class="type">
              <p>نوع الوجبات</p>
              <p>مشكل</p>
            </div>
            <div class="price">
              <p>820 <span>ريال</span></p>
            </div>
          </div>
          <div class="item-control">
            <a class="btn btn-main" href="#"> طلب</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
