{% extends "layout.njk" %}

{% block content %}
<div class="container">

	<div class="page-card">

		<div class="card-header">
			<h3><i class="icon-order"></i>طلباتي السابقة</h3>
		</div>

		<div class="card-content">
		<div class="cart-item">

					<h4 class="item-store"> كرم الشام</h4>
					<p class="item-info">  <img  src="assets/images/Mask Group 31.png">ساندوتش دجاج بالكاري لارج + نص فرخه مشوية + 4 فت شاورما  4 فت شاورما4 فت شاورما <span> 150 ج.م </span></p>
					<span class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>شارع 20 أحمد فهمي - ميامي - الإسكندرية</span>
				
				</div>
		<div class="cart-item">
					<h4 class="item-store">  عيش وملح</h4>
					<p class="item-info">   <img  src="assets/images/Mask Group 46.png">ساندوتش دجاج بالكاري لارج + نص فرخه مشوية + 4 فت شاورما  4 فت شاورما4 فت شاورما <span> 250 ج.م </span></p>
					<span class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>    شارع 45 عبدالرازق محمد - عصافرة - الاسكندرية </span>

				</div>
		<div class="cart-item">
					<h4 class="item-store"> الريف الدمشقي</h4>
					<p class="item-info">  <img  src="assets/images/Mask Group 47.png">ساندوتش دجاج بالكاري لارج + نص فرخه مشوية + 4 فت شاورما  4 فت شاورما4 فت شاورما <span> 450 ج.م </span></p>
					<span class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>     شارع 20 احمد كريم - منتزه - الاسكندرية </span>
					
				</div>

	
		</div>


	</div>


</div>


{% endblock %}