{% extends "layout.njk" %} {% block content %}
<div class="container">
  <div class="page-card">
    <div class="card-header">
      <h3><i class="icon-order ml-2"></i>طلباتي السابقة</h3>
    </div>

    <div class="card-content">
      <div class="cart-item orders-item">
        <h4 class="item-store">
          كرم الشام
          <p><time> 3:07 PM</time> <time>12/02/2021</time></p>
        </h4>
        <p class="item-info">
          <img src="assets/images/sandwich.png" />ساندوتش دجاج بالكاري لارج + نص
          فرخه مشوية + 4 فت شاورما 4 فت شاورما4 فت شاورما <span> 150 ج.م </span>
        </p>
        <span class="item-area">شارع 20 أحمد فهمي - ميامي - الإسكندرية</span>
      </div>
      <div class="cart-item orders-item">
        <h4 class="item-store">
          عيش وملح
          <p><time>3:07 PM</time> <time>12/02/2021</time></p>
        </h4>
        <p class="item-info">
          <img src="assets/images/order-fish.png" />ساندوتش دجاج بالكاري لارج +
          نص فرخه مشوية + 4 فت شاورما 4 فت شاورما4 فت شاورما
          <span> 250 ج.م </span>
        </p>
        <span class="item-area">
          شارع 45 عبدالرازق محمد - عصافرة - الاسكندرية
        </span>
      </div>
      <div class="cart-item orders-item">
        <h4 class="item-store">
          الريف الدمشقي
          <p><time>3:07 PM</time> <time>12/02/2021</time></p>
        </h4>
        <p class="item-info">
          <img src="assets/images/orders-fish2.png" />ساندوتش دجاج بالكاري لارج
          + نص فرخه مشوية + 4 فت شاورما 4 فت شاورما4 فت شاورما
          <span> 450 ج.م </span>
        </p>
        <span class="item-area"> شارع 20 احمد كريم - منتزه - الاسكندرية </span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
