{% extends "layout.njk" %}

{% block content %}
<div class="jobs-page">
	<div class="container">
		<div class="search-wrap">
			<h3>  إبحث عن ما تريد طلبه</h3>
			<form class="search-form" method="post">
				<input class="form-control" type="text" name="" placeholder="   إبحث عن مطعم او مكان او منطقه او علم معروف ........  ">

				<input class="btn" type="button" value="بحث">
			</form>

		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="jobs-filter products-filter">
				<button class="btn btn-filter">
				  <img src="assets/images/filter-setting.svg" alt="">
				  
		        </button>
				 <h4 class="title-products-filter" >فلتر<span class="delet-all" ><a class="btn btn-close" href="#"> مسح الكل <i class="fa fa-times-circle-o" aria-hidden="true"></i></a></span></h4>
					<div class="filter-list">
					<h4>الموقع</h4>
					<form class="city-form" action="">
			         <select >
				         <option value="">الإسكندرية </option>
				         <option value="">ُ</option>
			         </select>
		             </form>

						

					</div>
					
					<div class="filter-list">
						<h4>نوع الطلب</h4>
						<label class="control control--checkbox">مطاعم
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">توصيل بجنيه
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">سوبرماركت
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">صيدليات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">محمصات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">عصائر
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox"> صيدليات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">أسماك
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox"> حلويات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox"> حلويات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">عصائر
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
					</div>
					<div class="filter-list">
						<h4>أسعار تبدأ من</h4>
		

 

						
					
						
						
						
					</div>
					<div class="filter-list">
						<h4>سعر التوصيل </h4>
						
					
					</div>
					<div class="filter-list">
						<h4>يبعد عنك</h4>
						
					
					</div>

					<button type="submit" class="btn btn-main">فرز</button>

				</div>
			</div>
			<div class="col-md-8">
			<div class="stores-list">
	  <div class="container" >
		<div class="row">
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
					<div class="rating-star mr-3 mt-4">
								<span class="fa fa-star checked">4</span>
						
							</div>
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
							<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			
			
		
			
			
			
			
			



		</div>
	</div>
				
				
				
				
				
				</div>
			{% include "parts/pagination.njk" %}

			</div>
		</div>
	</div>
</div>
{% endblock %}