{% extends "layout.njk" %}

{% block content %}
<div class="jobs-page">
	<div class="container">
		<div class="search-wrap">
			<h3>  إبحث عن ما تريد طلبه</h3>
			<form class="search-form" method="post">
				<input class="form-control" type="text" name="" placeholder="   إبحث عن مطعم او مكان او منطقه او علم معروف ........  ">
				<input class="btn" type="button" value="بحث">
			</form>

		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="jobs-filter">
					<h4>  <img src="assets/images/filter-setting.svg" alt="">فلتر <span><a class="btn btn-close" href="#"> مسح الكل <i class="fa fa-times-circle-o" aria-hidden="true"></i></a></span> </h4>
					<div class="filter-list">
											<h4>الموقع</h4>

						 <form class="lang-form" action="">
							<select class="custom-select">
 			 				<option selected>الاسكندرية</option>
 			 				<option value="1">One</option>
  							<option value="2">Two</option>
  							<option value="3">Three</option>
</select>

					</div>
					
					<div class="filter-list">
						<h4>نوع الطلب</h4>
						<label class="control control--checkbox">مطاعم
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">توصيل بجنيه
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">سوبرماركت
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">صيدليات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">محمصات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">عصائر
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox"> صيدليات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">أسماك
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox"> حلويات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox"> حلويات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">عصائر
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
					</div>
					<div class="filter-list">
						<h4>أسعار تبدأ من</h4>
						
					
						
						
						
					</div>
					<div class="filter-list">
						<h4>سعر التوصيل </h4>
						
					
					</div>
					<div class="filter-list">
						<h4>يبعد عنك</h4>
						
					
					</div>

					<button type="submit" class="btn btn-main">فرز</button>

				</div>
			</div>
			<div class="col-md-8">
			<div class="stores-list">
	  <div class="container" >
		<div class="row">
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> زا جود فيش</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>هابي مارلين </h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>هابي مارلين </h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> زا جود فيش</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>زا جود فيش</h5>
						<p>محل</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> زا جود فيش</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-25"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/anchovy-fish.png" alt="">
					</div>
					<div class="store-info">
						<h5> هابي مارلين</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			
			
			
			
			



		</div>
	</div>
				
				
				
				
				
				</div>
			{% include "parts/pagination.njk" %}

			</div>
		</div>
	</div>
</div>
{% endblock %}