<!-- footer.njk -->
<div id="footer" class="site-footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class=" col-md-4 col-sm-12">
          <div class="contact-infro">
            <h5>معلومات الاتصال</h5>
            <p>
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات
              في الصفحة التي يقرأها
            </p>
            <ul class="social-contact">
              <li>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i> </a>
              </li>
			  <li>
				<a href=""> <img src="assets/images/in-link.svg" /> </a>
			  </li>
              <li>
                <a href=""> <img src="assets/images/googel-link.svg" /> </a>
              </li>
			 
              <li>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>

             
            </ul>
          </div>
        </div>
        <div class=" col-md-4 col-sm-6">
          <div class="social-widget">
            <h5>خريطة الموقع</h5>
            <ul class="social-links">
              <li>
                <a class="facebook" href="">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  الرئيسية
                </a>
              </li>
              <li>
                <a class="twitter" href=""
                  ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  الخطط
                </a>
              </li>
              <li>
                <a class="youtube" href="">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  الوجبات
                </a>
              </li>
              <li>
                <a class="youtube" href=""
                  ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  التجربة
                </a>
              </li>
              <li>
                <a class="youtube" href=""
                  ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  الشروط
                </a>
              </li>
            </ul>
            <ul class="social-links">
              <li>
                <a class="facebook" href="">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  عن المطعم
                </a>
              </li>
              <li>
                <a class="twitter" href=""
                  ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  المخصصة
                </a>
              </li>
              <li>
                <a class="youtube" href=""
                  ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  اتصل بنا
                </a>
              </li>
              <li>
                <a class="youtube" href=""
                  ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  الفروع
                </a>
              </li>
              <li>
                <a class="youtube" href=""
                  ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                  الخصوصية
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class=" col-md-4 col-sm-6">
          <div class="hours-of-delivery">
            <h5>ساعات التسليم</h5>
            <p>يوميا من 1 ظهرا إلى 11 مساءا</p>
            <div class="app-stores">
              <h5 class="title-app-stores">تحميل التطبيقات</h5>
              <a class="store-link" href="http://apple.com" target="_blank">
                <img src="assets/images/app-store.png" />
              </a>
              <a class="store-link" href="http://google.com" target="_blank">
                <img src="assets/images/googel-play.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="copy-right">
          <p>
            حقوق النشر © 2021 دايت تايم كل الحقوق محفوظة صنع بواسطة كوربيتيا
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
