<!-- header.njk -->
<div class="top-bar">
	<div class="container">
		<form class="lang-form" action="">
			<select >
				<option value="">العربية </option>
				<option value="">ُEnglish</option>
			</select>
		</form>
	
		<ul class="top-links">
			<li><a href="account.html">تسجيل الدخول</a></li>
			<li><a href="">sonqr-mail@gmail.com</a></li>
		</ul>
		<div class="top-social">
			<span>تابعنا على</span>
			<ul class="social-links">
				<li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li>
				<li><a class="twitter" href=""><i class="fa fa-twitter"></i></a></li>
				<li><a class="youtube" href=""><i class="fa fa-youtube"></i></a></li>
			</ul>
		</div>

	</div>
</div>

<header id="header" class="site-header main-header pinning-header ">
		<nav class="navbar navbar-expand-lg">
				<div class="container main-menu-wrap d-flex justify-content-between">
						<div class="logo-wrapper">
								<a class="theme-navbar-brand" href="#">
										<img class="enter-logo img-responsive" src="assets/images/logo.png" title="">
								</a>
						</div>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
								data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse common-menu-wrap " id="navbarSupportedContent">


							<div class="user-ntf">
								<div class="ntf-icon">
									<i class="icon-notification"></i>
							

								<div class="drop-menu">
									<div class="ntf-header">
										<h4 class="ntf-title">الإشعارات</h4>
										<span class="ntf-dots">
											<span></span>
											<span></span>
											<span></span>
											<ul class="dots-menu">
												<li><a href="">اعدادات</a></li>
												<li><a href="">حذف </a></li>
											</ul>
										</span>
									</div>
									<h5 class="ntf-date">اليوم</h5>
									<ul class="ntf-list">
										<li class="ntf-item">
											<div class="ntf-content">
												<p class="ntf-text">تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا اطلب من سنقر ما تريد</p>
												<span class="ntf-time">الآن</span>
												<i class="ntf-status"></i>
											</div>
											<span class="ntf-dots">
												<a class="dots-icon" href="">
													<span></span>
													<span></span>
													<span></span>
												</a>
												<ul class="dots-menu">
													<li><a href="">اعدادات</a></li>
													<li><a href="">حذف </a></li>
												</ul>
											</span>
										</li>
										<li class="ntf-item">
											<div class="ntf-content">
												<p class="ntf-text">تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا اطلب من سنقر ما تريد</p>
												<span class="ntf-time">الآن</span>
												<i class="ntf-status"></i>
											</div>
											<span class="ntf-dots">
												<a class="dots-icon" href="">
													<span></span>
													<span></span>
													<span></span>
												</a>
												<ul class="dots-menu">
													<li><a href="">اعدادات</a></li>
													<li><a href="">حذف </a></li>
												</ul>
											</span>
										</li>
										<li class="ntf-item">
											<div class="ntf-content">
												<p class="ntf-text">تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا اطلب من سنقر ما تريد</p>
												<span class="ntf-time">الآن</span>
												<i class="ntf-status"></i>
											</div>
											<span class="ntf-dots">
												<a class="dots-icon" href="">
													<span></span>
													<span></span>
													<span></span>
												</a>
												<ul class="dots-menu">
													<li><a href="">اعدادات</a></li>
													<li><a href="">حذف </a></li>
												</ul>
											</span>
										</li>
										<li class="ntf-item">
											<div class="ntf-content">
												<p class="ntf-text">تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا اطلب من سنقر ما تريد</p>
												<span class="ntf-time">الآن</span>
												<i class="ntf-status"></i>
											</div>
											<span class="ntf-dots">
												<a class="dots-icon" href="">
													<span></span>
													<span></span>
													<span></span>
												</a>
												<ul class="dots-menu">
													<li><a href="">اعدادات</a></li>
													<li><a href="">حذف </a></li>
												</ul>
											</span>
										</li>
					
							
									</ul>

								</div>
							</div>
			
							</div>
						
								
								<ul class="navbar-nav ">
									<li class="nav-item active"><a href="/">الرئيسية</a></li>
									<li class="nav-item"><a href="about.html">معلومات عنا</a></li>
									<li class="nav-item"><a href="offers.html">العروض</a></li>
									<li class="nav-item"><a href="jobs.html">المحلات</a></li>
									<li class="nav-item"><a href="contact.html">الشحن</a></li>
								</ul>
								<div class="menu-icon">
									<a class="menu-item" href="#"><i class="icon-search"></i></a>
									<a class="menu-item" href="cart.html"><i class="icon-cart"></i></a>
							 </div>
							 <div class="user-menu ml-auto">
								 <div class="user-avatar">
									 <img src="assets/images/user-avatar.png" alt="" >
								 </div>
								 <ul class="drop-menu ">
									 <li><i class="icon-info"></i><a href="">معلومات الحساب</a></li>
									 <li><i class="icon-order"></i><a href="">طلباتي السابقة</a></li>
									 <li><i class="icon-map"></i><a href="">عناوين التوصيل</a></li>
									 <li><i class="icon-loyalty"></i><a href="">نقاط سنقر</a></li>
									 <li><i class="icon-money"></i><a href="">التبرع</a></li>
									 <li><i class="icon-logout"></i><a href="">تسجيل الخروج</a></li>
								 </ul>

							 </div>
								{# <button class="btn btn-main btn-sm">Signin</button>
								<button class="btn btn-main btn-sm">Signup</button> #}

								{# <div class="header-search">
											<div class="form-group">
												<input type="text" class="form-control"  placeholder="Search...">
												<button class="btn btn-search"><i class="fa fa-search"></i></button>
											</div>
								</div> #}
						</div>
				</div>
		</nav>
</header>