.donation-sonqr {
  h6 {
    margin-bottom: 30px;
    margin-top: 30px;
    img {
      margin-left: 15px;
    }
  }
  select {
	min-width: 445px;
    height: 48px;
    margin-bottom: 33px;
    color: $border-color;
    padding: 10px 30px;
  }
  .btn-main {
    padding: 0 180px;
    border-radius: 10px;
    text-align: center;
  }
  .donation-link {
    margin-top: 20px;
    margin-bottom: 44px;
    text-decoration: underline;
  }
  a {
    color: $color-link;
  }
}
