.orders-item{
		padding:10px 20px;
		 border: 1px solid $border-color ;
         border-radius: 10px;
		 margin-bottom:20px;
		 
		
		h4{
			color:$color-link;
			p{
				margin-right: 140px;
				margin-top: -20px;
				time{
					color:$border-color;
				}
			}
			

		}
		p{
			img{
				margin-left: 25px;
			}
			span{
			    margin-right: 160px;
                 padding: 20px;
                 font-size: 20px;
				 
      
			}
		}
		 span{
		 	margin-right: 82px;
			 color:$border-color;

		 }
		
		
}