.points-sonqr{
	h5{
		span{
			margin-right: 30px;
			color:$text3-color;
			font-size: 16px;
		}
	}
	p{
		margin-top: 25px;
		color: $text4-color;
		margin-bottom: 40px;
		line-height: 24px;
	}
	.pionts-link{
		margin-top: 30px;
		margin-bottom: 130px;
		text-decoration: underline;
		a{
			color:$color-link;

			
		}
		
	}
}