//products-filter
.products-filter {
  position: relative;

  .option-filter {
    display: inline-flex;
    
    .btn.btn-filter {
      line-height: 40px;
    }
    .title-products-filter {
      color: $color-link;
      margin: 20px 0;
    }
    .btn.btn-close {
      color: $color-link;
      margin: 20px 0;
      font-size: 16px;
      cursor: pointer;
      position: absolute;
      left: 31px;
    }
  }

  .filter-list {
    h4 {
      color: $color-link;
    }
    .city-form {
      select {
        width: 309px;
        height: 41px;
        border-radius: 10px;
        color: $border-color;
        padding: 5px 25px;
        appearance: none;
      }
    }
  }
  
  
}
