/* _____ VARIABLES _____ */
@font-face {
  font-family: 'sonqer';
  src: url("../fonts/sonqer.eot?b0gshv");
  src: url("../fonts/sonqer.eot?b0gshv#iefix") format("embedded-opentype"), url("../fonts/sonqer.ttf?b0gshv") format("truetype"), url("../fonts/sonqer.woff?b0gshv") format("woff"), url("../fonts/sonqer.svg?b0gshv#sonqer") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sonqer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
  content: "\e90b";
}

.icon-order:before {
  content: "\e919";
}

.icon-arrow-right:before {
  content: "\e90c";
}

.icon-info:before {
  content: "\e90e";
}

.icon-edit:before {
  content: "\e90d";
}

.icon-cart:before {
  content: "\e90a";
}

.icon-check:before {
  content: "\e901";
}

.icon-delete:before {
  content: "\e902";
}

.icon-car:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e904";
}

.icon-calender:before {
  content: "\e905";
}

.icon-plus:before {
  content: "\e906";
}

.icon-arrow-prev:before {
  content: "\e907";
}

.icon-arrow-next:before {
  content: "\e908";
}

.icon-logout:before {
  content: "\e909";
}

.icon-close:before {
  content: "\e90f";
}

.icon-search:before {
  content: "\e910";
}

.icon-target:before {
  content: "\e911";
}

.icon-notification:before {
  content: "\e912";
}

.icon-location:before {
  content: "\e913";
}

.icon-offer:before {
  content: "\e914";
}

.icon-clock:before {
  content: "\e915";
}

.icon-world:before {
  content: "\e916";
}

.icon-discount:before {
  content: "\e900";
}

.icon-loyalty:before {
  content: "\e917";
}

.icon-money:before {
  content: "\e918";
}

.img-right {
  float: right;
}

.img-left {
  float: left;
}

.img-120 {
  position: relative;
  right: -120px;
}

.row-140 {
  margin-right: -140px;
  margin-left: -140px;
}

.img-icon {
  margin-left: -25px;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

svg g {
  transform-origin: center;
  /* or transform-origin: 50% */
  transform-box: fill-box;
}

.flex-center {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  z-index: 9;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.gr-orang-1 {
  background: -moz-linear-gradient(111deg, #fcc477 0%, #fcc477 1%, #fca76a 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fca76a), color-stop(99%, #fcc477), color-stop(100%, #fcc477));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(111deg, #fcc477 0%, #fcc477 1%, #fca76a 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(111deg, #fcc477 0%, #fcc477 1%, #fca76a 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(111deg, #fcc477 0%, #fcc477 1%, #fca76a 100%);
  /* ie10+ */
  background: linear-gradient(339deg, #fcc477 0%, #fcc477 1%, #fca76a 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca76a', endColorstr='#fcc477',GradientType=0 );
  /* ie6-9 */
}

.gr-orang-2 {
  background: -moz-linear-gradient(111deg, #fca76a 0%, #fca76a 1%, #fa8967 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fa8967), color-stop(99%, #fca76a), color-stop(100%, #fca76a));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(111deg, #fca76a 0%, #fca76a 1%, #fa8967 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(111deg, #fca76a 0%, #fca76a 1%, #fa8967 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(111deg, #fca76a 0%, #fca76a 1%, #fa8967 100%);
  /* ie10+ */
  background: linear-gradient(339deg, #fca76a 0%, #fca76a 1%, #fa8967 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8967', endColorstr='#fca76a',GradientType=0 );
  /* ie6-9 */
}

.gr-orang-3 {
  background: -moz-linear-gradient(111deg, #9d2f4c 0%, #9d2f4c 1%, #7f294c 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f294c), color-stop(99%, #9d2f4c), color-stop(100%, #9d2f4c));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(111deg, #9d2f4c 0%, #9d2f4c 1%, #7f294c 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(111deg, #9d2f4c 0%, #9d2f4c 1%, #7f294c 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(111deg, #9d2f4c 0%, #9d2f4c 1%, #7f294c 100%);
  /* ie10+ */
  background: linear-gradient(339deg, #9d2f4c 0%, #9d2f4c 1%, #7f294c 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f294c', endColorstr='#9d2f4c',GradientType=0 );
  /* ie6-9 */
}

.container-fluid {
  padding: 0 15%;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

body {
  line-height: 18px;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
  overflow: hidden;
  overflow-y: auto !important;
  position: relative;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  line-height: 36px;
  font-size: 16px;
}

pre {
  background: #fff;
  padding: 10px;
}

p {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

h1, .h1 {
  font-size: 3.6rem;
}

h2, .h2 {
  font-size: 3.0rem;
}

h3, .h3 {
  font-size: 2.4rem;
}

h4, .h4 {
  font-size: 1.8rem;
}

h5, .h5 {
  font-size: 1.4rem;
}

h6, .h6 {
  font-size: 1.2rem;
}

pre {
  font-family: consolas, monospace;
}

a {
  color: #00A6ED;
  transition: all 200ms ease-in-out;
}

a:visited {
  text-decoration: none;
  outline: none;
  color: none;
}

a:focus, a:active, a:hover {
  text-decoration: none;
  outline: none;
  color: initial;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

/*======= Map Styling ============*/
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

a[href^="https://maps.google.com/maps"] {
  display: none !important;
}

.nf-field-element input[type=text],
.nf-field-element input[type=email],
.nf-field-element input[type=phone],
.nf-field-element input[type=number],
.nf-field-element select, .nf-field-element textarea {
  height: 40px  !important;
  width: 100% !important;
}

.product-carousel {
  position: relative;
}

.product-carousel .owl-nav {
  position: absolute;
  top: 80px;
  width: 100%;
}

.product-carousel .owl-nav .owl-prev, .product-carousel .owl-nav .owl-next {
  position: absolute;
  display: inline-block;
  height: 75px;
  width: 75px;
  background: #003566 !important;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.product-carousel .owl-nav .owl-prev:focus, .product-carousel .owl-nav .owl-next:focus {
  outline: none;
}

.product-carousel .owl-nav .owl-prev span, .product-carousel .owl-nav .owl-next span {
  font-size: 36px;
  color: #ffffff;
}

.product-carousel .owl-nav .owl-prev {
  right: -37.5px;
}

.product-carousel .owl-nav .owl-next {
  left: -37.5px;
}

.category-carousel {
  position: relative;
}

.category-carousel .owl-nav {
  position: absolute;
  top: 80px;
  width: 100%;
}

.category-carousel .owl-nav .owl-prev, .category-carousel .owl-nav .owl-next {
  position: absolute;
  display: inline-block;
  height: 48px;
  width: 48px;
  background: #003566 !important;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.category-carousel .owl-nav .owl-prev:focus, .category-carousel .owl-nav .owl-next:focus {
  outline: none;
}

.category-carousel .owl-nav .owl-prev span, .category-carousel .owl-nav .owl-next span {
  font-size: 36px;
  color: #ffffff;
}

.category-carousel .owl-nav .owl-prev {
  right: -37.5px;
}

.category-carousel .owl-nav .owl-next {
  left: -37.5px;
}

.form-group label {
  font-weight: 400;
  color: #777;
  font-size: 14px;
}

.form-group input {
  height: 32px;
  border-radius: 0;
  background: none;
  border: 1px solid #ccc;
  box-shadow: none;
  color: #555;
  padding: 0 15px 0px;
  margin-bottom: 0;
  margin-bottom: 15px;
  border-radius: 3px;
  font-size: 14px;
}

.form-control {
  width: 540px !important;
  margin: auto;
  border-radius: 40px !important;
  height: 80px !important;
  margin-bottom: 50px !important;
  padding: 0 30px !important;
  font-size: 20px;
}

.form-group input.form-control:focus,
.form-group textarea.form-control:focus {
  border-color: #24cd77;
  box-shadow: none;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 20px;
  line-height: 28px;
}

.form-check-input {
  position: absolute;
  margin-top: 8px;
  margin-left: -20px;
}

.radio-group {
  margin-bottom: 15px;
}

.form-group textarea.form-control {
  min-height: 150px;
  max-width: 100%;
  border-radius: 12px;
  background: none;
  border: 1px solid #ccc;
  position: relative;
  padding: 15px;
  box-shadow: none;
  color: #555;
  margin-bottom: 15px;
  border-radius: 25px;
  font-size: 14px;
}

.form-control::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #71768a;
  opacity: 1;
  font-size: 12px;
}

.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #71768a;
  opacity: 1;
  font-size: 12px;
}

.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #71768a;
  opacity: 1;
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #71768a;
  opacity: 1;
  font-size: 12px;
}

/*
.select {
    position: relative;
    display: block;
}
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding-top:5px;
    padding-bottom:5px;
    height: 40px;
    padding-left: 15px;
    padding-right: 30px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #fff;
    color: #120e31;
    border: 1px solid #9d2f4c;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #000;

}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select__arrow {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
  //  border-style: solid;
  //  border-width: 8px 5px 0 5px;
  //  border-color: #7b7b7b transparent transparent transparent;
  transform: rotate(90deg);
  font-size: 10px;
  color: #9d2f4c;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}
*/
.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
}

.select select {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  line-height: 43px;
  border: 1px solid #ccc;
  height: 45px;
  cursor: pointer;
  color: #7b7b7b;
  border-radius: 10px;
  outline: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 1;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #000;
  background: #fff;
}

.select select:disabled {
  pointer-events: none;
  opacity: .5;
}

.select__arrow {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.radio-input:checked + .radio-control {
  border-color: #99CA99;
}

.radio-input:checked + .radio-control .radio-check-icon {
  background-color: #3CA044;
  border-color: #3CA044;
}

.radio-group {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  display: block;
}

.radio-group .radio-item {
  overflow: hidden;
  width: calc(100% / 2);
  float: right;
  padding: 0 15px;
  position: relative;
}

.radio-group .radio-item .radio-input {
  visibility: hidden;
  position: absolute;
  left: 45px;
  top: 25px;
}

.radio-control {
  transition: all 250ms ease-in-out;
  border: 2px solid #E6E4E1;
  position: relative;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.radio-control:checked {
  border-color: #99CA99;
}

.radio-control .radio-title {
  margin-top: 40px;
}

.radio-control .radio-check-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  position: absolute;
  top: 20px;
}

.radio-full-w {
  width: 100%;
}

.option-row {
  margin: 0 -15px;
}

.option-content {
  padding: 0 15px;
}

.common-option {
  height: 200px;
  overflow: hidden;
  border: 2px solid #E6E4E1;
  border-radius: 10px;
  padding: 30px;
}

.common-option .option-col {
  width: calc(100% / 2);
  float: right;
  border-left: 1px solid #E6E4E1;
}

.order-list .order-item {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.04);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.order-list .order-no {
  margin-bottom: 15px;
}

.order-list .order-cost {
  margin-bottom: 10px;
}

.order-list .order-price {
  font-weight: 700;
}

.order-list .order-status {
  background: green;
  display: inline-block !important;
  float: left;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
}

.order-list .order-cost, .order-list .order-status {
  display: block;
  text-align: left;
}

.order-list .col-helf {
  width: calc(100% / 2);
  float: right;
}

.card-control {
  text-align: left;
}

.card-control i {
  color: #555;
}

.card-control .card-update {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.card-control .card-delete {
  font-size: 16px;
  display: block;
}

.empty-state {
  text-align: center;
}

.empty-state p {
  margin-bottom: 20px;
}

.btn-app {
  display: block;
  min-width: 100px;
  color: #ffffff;
  text-align: center;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  background: #24cd77;
  border-radius: 0;
  padding: 0;
}

.btn-ghost {
  height: 40px;
  border-radius: 20px;
  border: 1px solid;
  line-height: 38px;
  padding: 0 30px;
  font-weight: 600;
  font-size: 14px;
  background: rgba(0, 0, 0, 0);
}

.btn-ghost.btn-primary {
  color: #2354f3;
  border-color: #2354f3;
}

.btn-ghost.btn-primary:hover {
  color: #ffffff;
  background: #2354f3;
}

.btn-ghost.btn-lg {
  height: 50px;
  line-height: 48px;
  border-radius: 25px;
}

.btn-main {
  height: 48px;
  line-height: 46px;
  padding: 0 30px;
  font-weight: 600;
  font-size: 16px;
  background: #E33A2D;
  transition: all 200ms ease-in-out;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-main:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-color: #003566;
}

.btn-main.btn-sm {
  height: 30px;
  border-radius: 15px;
  line-height: 28px;
  padding: 0 20px;
}

.form-group .btn-send {
  background: #00ae56;
  color: #FFF;
}

.btn-send {
  margin-top: 5px;
  padding: 0 50px;
  text-transform: capitalize;
}

.btn-more {
  height: 24px;
  line-height: 24px;
  border-radius: 0;
  color: #FFF;
  padding: 0 15px;
  background: #00A6ED;
  font-size: 12px;
  white-space: nowrap;
}

.btn-load {
  display: block;
  background: #fff;
  color: #777;
  text-decoration: none;
  width: 200px;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 16px;
  padding: 8px 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.btn-load:hover {
  background: #f9f9f9;
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 180px;
  height: 180px;
  margin: 10px;
}

.control {
  display: block;
  position: relative;
  padding-right: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  border-radius: 6px;
  position: absolute;
  top: 2px;
  right: 0;
  height: 28px;
  width: 28px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ADB5BD;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: #003566;
  border-color: #003566;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #003566;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 11px;
  top: 6px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #000;
  background: #fff;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.control--radio .control__indicator {
  width: 18px;
  height: 18px;
}

.control--radio .control__indicator:after {
  left: 3px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: #003566;
}

.control.control--radio input:checked ~ .control__indicator {
  background: #ffffff;
  border-color: #003566;
}

.control.control--radio input:checked:focus ~ .control__indicator {
  background: #ffffff;
}

.social-links {
  list-style: none;
}

.social-links li {
  display: inline-block;
  position: relative;
  text-align: center;
}

.social-links li a {
  padding: 0px;
  display: inline-block;
}

.social-links li a:before {
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  border: 2px solid #33ccff;
  transition: all 265ms ease-out;
  right: 0;
  top: 0;
}

.social-links li a i {
  display: inline-block;
  width: 40px;
  line-height: 40px;
  color: #1E1E1E;
  font-size: 16px;
  transition: all 265ms ease-out;
  border-radius: 20px;
  text-align: center;
}

.social-links li a:hover i {
  color: #fff;
}

.social-links li .facebook:hover i {
  color: #5263c6;
}

.social-links li .twitter:hover i {
  color: #40c4ff;
}

.social-links li .youtube:hover i {
  color: #ff0000;
}

.social-links-sm {
  list-style: none;
}

.social-links-sm li {
  display: block;
  position: relative;
  line-height: 20px;
  padding-bottom: 5px;
}

.social-links-sm li a {
  padding: 0px;
  display: inline-block;
  font-size: 12px;
  color: #666;
}

.social-links-sm li a:hover {
  color: #00A6ED;
}

.social-links-sm li a i {
  margin-right: 6px;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  transition: all 265ms ease-out;
  border-radius: 20px;
  text-align: center;
}

.social-links-sm li a:hover i {
  color: #fff;
}

.social-links-sm li .facebook i {
  background-color: #5263c6;
}

.social-links-sm li .twitter i {
  background-color: #40c4ff;
}

.social-links-sm li .youtube i {
  background-color: #ff0000;
}

.common-section {
  padding: 80px  0;
}

.counters-section {
  padding: 100px  0;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section {
  position: relative;
  margin-bottom: 100px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.about-section h2 {
  margin-bottom: 40px;
}

.reviews-section {
  position: relative;
  padding-top: 250px;
  padding-bottom: 250px;
}

.reviews-section h2 {
  margin-bottom: 40px;
}

.about-shape {
  position: absolute;
  top: 0;
  background-image: url("../images/about-shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 1145px;
  z-index: -1;
}

.about-mask {
  visibility: hidden;
}

.shape-top {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 9;
  bottom: 100%;
  margin-bottom: -1px;
}

.shape-bottom {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 9;
  top: 100%;
  margin-top: -1px;
  right: 0;
}

.project-text {
  max-width: 360px;
}

.project-text h2 {
  color: #401a31;
}

.project-text p {
  color: #9d2f4c;
}

.product-text {
  max-width: 420px;
}

.product-text h2 {
  color: #9b2e4b;
}

.product-text p {
  color: #9d2f4c;
}

.wedo-text h2 {
  color: #9b2e4b;
}

.wedo-text p {
  color: #9d2f4c;
}

.common-widget {
  background: #fff;
  width: auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  overflow: hidden;
}

.common-widget .widget-header {
  background: #fbfbfb;
  padding: 0px 10px;
  font-size: 18px;
  line-height: 55px;
  height: 55px;
  border-bottom: 1px solid #e8e8e8;
}

.tabs-widget {
  position: relative;
}

.tabs-widget .nav-tabs {
  position: absolute;
  top: 16px;
  right: 10px;
  border-bottom: none;
}

.tabs-widget .nav-tabs .nav-link {
  display: block;
  overflow: hidden;
  color: #666;
  padding: 0px 25px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: solid 1px #fbfbfb;
  border-top-color: #fbfbfb;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #fbfbfb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top: solid 2px #fbfbfb;
  font-weight: 200;
}

.tabs-widget .nav-tabs .nav-link.active {
  border: solid 1px #f2f2f2;
  border-top-color: #f2f2f2;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #f2f2f2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: #fff;
  border-top: 2px solid #24cd77;
  border-bottom: 1px solid #fff;
  color: #666;
}

.widget-content {
  padding: 15px;
}

.widget-title {
  font-size: 18px;
  border-bottom: 1px solid #e8e8e8;
  height: 55px;
  background: #24cd77;
  line-height: 55px;
  padding: 0px 10px;
  color: #ffffff;
}

.search-widget {
  padding: 15px;
}

.tags-cloud .tag-item {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0px 10px;
  margin-right: 10px;
  background: #f2f5f9;
  line-height: 24px;
  height: 24px;
  font-size: 13px;
  color: #5d5d5d;
  border-radius: 4px;
  font-style: normal;
}

.tags-cloud .tag-item:hover {
  background: #24cd77;
  color: #fff;
}

.top-categories-widget .widget-content {
  padding: 16px 18px;
  overflow: hidden;
}

.all-categories-widget .categories-list {
  padding: 10px;
}

.categories-list {
  overflow: hidden;
}

.categories-list li {
  white-space: nowrap;
  width: 50%;
  float: left;
  overflow: hidden;
  list-style: none;
  height: 40px;
  margin-bottom: 10px;
}

.categories-list li a {
  white-space: nowrap;
  font-size: 12px;
  color: #666;
}

.categories-list li a:hover {
  color: #00A6ED;
}

.categories-list li a i {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url("../images/categorybg-30.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  margin-right: 5px;
}

.cat-icon .icon-action {
  background-position: 0 0;
}

.cat-icon .icon-adventure {
  background-position: 0 -30px;
}

.cat-icon .icon-arcade {
  background-position: 0 -60px;
}

.cat-icon .icon-board {
  background-position: 0 -90px;
}

.cat-icon .icon-card {
  background-position: 0 -120px;
}

.cat-icon .icon-casino {
  background-position: 0 -150px;
}

.cat-icon .icon-casual {
  background-position: 0 -180px;
}

.cat-icon .icon-educational {
  background-position: 0 -210px;
}

.cat-icon .icon-family {
  background-position: 0 -240px;
}

.cat-icon .icon-music {
  background-position: 0 -270px;
}

.cat-icon .icon-puzzle {
  background-position: 0 -300px;
}

.cat-icon .icon-racing {
  background-position: 0 -330px;
}

.cat-icon .icon-role-playing {
  background-position: 0 -360px;
}

.cat-icon .icon-simulation {
  background-position: 0 -390px;
}

.cat-icon .icon-sports {
  background-position: 0 -420px;
}

.cat-icon .icon-strategy {
  background-position: 0 -450px;
}

.cat-icon .icon-trivia {
  background-position: 0 -480px;
}

.cat-icon .icon-word {
  background-position: 0 -510px;
}

.cat-icon .icon-book-reference {
  background-position: 0 -540px;
}

.cat-icon .icon-business {
  background-position: 0 -570px;
}

.cat-icon .icon-comic {
  background-position: 0 -600px;
}

.cat-icon .icon-communication {
  background-position: 0 -630px;
}

.cat-icon .icon-education {
  background-position: 0 -660px;
}

.cat-icon .icon-entertainment {
  background-position: 0 -690px;
}

.cat-icon .icon-finance {
  background-position: 0 -720px;
}

.cat-icon .icon-health-fitness {
  background-position: 0 -750px;
}

.cat-icon .icon-libraries-demo {
  background-position: 0 -780px;
}

.cat-icon .icon-lifestyle {
  background-position: 0 -810px;
}

.cat-icon .icon-live-wallpaper {
  background-position: 0 -840px;
}

.cat-icon .icon-media-video {
  background-position: 0 -870px;
}

.cat-icon .icon-medical {
  background-position: 0 -900px;
}

.cat-icon .icon-music-audio {
  background-position: 0 -930px;
}

.cat-icon .icon-news-magazines {
  background-position: 0 -960px;
}

.cat-icon .icon-personalization {
  background-position: 0 -990px;
}

.cat-icon .icon-photography {
  background-position: 0 -1020px;
}

.cat-icon .icon-productivity {
  background-position: 0 -1050px;
}

.cat-icon .icon-shopping {
  background-position: 0 -1080px;
}

.cat-icon .icon-social {
  background-position: 0 -1110px;
}

.cat-icon .icon-tools {
  background-position: 0 -1170px;
}

.cat-icon .icon-transportation {
  background-position: 0 -1200px;
}

.cat-icon .icon-travel-local {
  background-position: 0 -1230px;
}

.cat-icon .icon-weather {
  background-position: 0 -1260px;
}

.cat-icon .icon-widgets {
  background-position: 0 -1290px;
}

.cat-title {
  font-weight: 600;
  line-height: 40px;
  padding-bottom: 0;
  position: relative;
  font-weight: 600;
  height: 40px;
  border-top: 1px solid #eee;
  line-height: 40px;
  background: #fafafa url("../images/left.png") right 10px center no-repeat;
  border-bottom: 1px solid #eee;
  color: #616161;
}

.cat-title:hover {
  color: #24cd77;
}

.cat-icon-g, .cat-icon-a {
  background: url("../images/indexicon_v2.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  width: 40px;
  display: inline-block;
  height: 40px;
  vertical-align: bottom;
  padding-right: 10px;
}

.cat-icon-g {
  background-position: 5px -82px;
}

.cat-icon-a {
  background-position: 5px -82px;
}

.search-widget .form-group {
  position: relative;
}

.search-widget .form-group .form-control {
  height: 38px;
  width: calc(100% - 60px);
  border: 2px solid #24cd77;
  border-radius: 0;
}

.search-widget .form-group .btn-search {
  width: 60px;
  height: 38px;
  font-size: 16px;
  border-radius: 0;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  background: #24cd77 url("https://static.apkpure.com/www/static/imgs/search.png") center no-repeat;
  background-color: #24cd77;
}

.apkenter-app {
  overflow: hidden;
}

.apkenter-app .app-img {
  float: left;
  margin-right: 15px;
}

.apkenter-app .app-content {
  overflow: hidden;
  position: relative;
}

.apkenter-app .app-title {
  font-size: 20px;
  color: #666;
  white-space: nowrap;
}

.apkenter-app .app-info {
  font-size: 12px;
  color: #777;
  display: block;
}

.apkenter-app .btn-app {
  margin-top: 15px;
  clear: both;
  width: 100%;
  transition: all 250ms ease-in-out;
  display: block;
  margin: 0 6px;
  font-size: 15px;
  color: #FFF;
  text-align: center;
  height: 32px;
  line-height: 32px;
  background: #24cd77;
  margin-bottom: 15px;
}

.apkenter-app .istar {
  background: url("../images/stars.svg") repeat-x;
  background-size: auto;
  display: inline-block;
  height: 15px;
  background-size: 15px;
  width: 15px;
  top: 2px;
  position: relative;
}

.apkenter-app .sstar {
  color: #fa8b16;
  font-size: 12px;
}

.hot-apps {
  padding: 15px;
  list-style: none;
}

.hot-apps .list-item {
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 5px 10px;
}

.hot-apps .list-item:hover {
  background: #f5f7fa;
}

.hot-apps .app-item {
  overflow: hidden;
}

.hot-apps .app-item .app-thumb {
  float: left;
  width: 85px;
  height: 70px;
  text-align: center;
  padding-top: 5px;
  margin: 0;
}

.hot-apps .app-item .app-thumb img {
  width: 60px;
  height: 60px;
}

.hot-apps .app-item .app-info {
  display: block;
  color: #666;
  overflow: hidden;
  line-height: 22px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hot-apps .app-item .app-title {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-overflow: ellipsis;
}

.hot-apps .app-item .app-content {
  line-height: 22px;
}

.hot-apps li .list-num {
  float: left;
  width: 20px;
  height: 20px;
  background: #e7e7e7;
  margin-top: 27px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
}

.hot-apps li:nth-child(1) .list-num {
  background: url("../images/day_list_number.png") top center;
  color: #FFF;
  margin-top: 25px;
  height: 24px;
}

.hot-apps li:nth-child(2) .list-num {
  background: url("../images/day_list_number.png") center;
  color: #FFF;
  margin-top: 25px;
  height: 24px;
}

.hot-apps li:nth-child(3) .list-num {
  background: url("../images/day_list_number.png") bottom center;
  color: #FFF;
  margin-top: 25px;
  height: 24px;
}

.stars {
  background: url("../images/star.svg") repeat-x;
  height: 15px;
  width: 75px;
  clear: both;
  direction: ltr;
  position: relative;
}

.stars span.score {
  display: block;
  background: url("../images/stars.svg") repeat-x;
  height: 15px;
  width: 75px;
}

.stars span.star {
  position: absolute;
  left: 78px;
  line-height: 15px;
  top: 1px;
  color: #fa8b16;
  font-size: 13px;
}

.step-content .radio-group {
  margin-bottom: 50px;
}

.step-footer {
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -5px 30px rgba(8, 104, 246, 0.1);
  padding: 30px 0;
}

.plan-total .total-title {
  display: block;
  color: #5d7c89;
  font-size: 14px;
  margin-bottom: 5px;
}

.plan-total .total-price {
  font-size: 30px;
  font-weight: 700;
  margin-left: 5px;
  line-height: 30px;
}

.plan-total .total-currency {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: -5px;
  line-height: 30px;
}

.step-control {
  line-height: 60px;
  text-align: left;
}

.step-control .btn-main {
  background: #35482A;
  margin: 0;
}

.step-control .btn-prev {
  padding: 0;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: #EDEDED;
  color: #333;
  font-size: 15px;
  border-radius: 30px;
}

.step-control .btn-prev:hover {
  border: none;
  opacity: 0.8;
}

.step-control .btn-next {
  height: 50px;
  border-radius: 30px;
  padding: 0 50px;
}

.post-item {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  border-radius: 0 0 10px 10px;
  float: left;
}

.post-col-4 {
  background: #ffffff;
}

.post-thumb {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.post-thumb img {
  width: 100%;
}

.post-content p {
  line-height: 24px;
  font-size: 16px;
}

/* Post Card*/
.post-card {
  margin-bottom: 50px;
}

.post-card.post-h2 {
  height: 400px;
}

.post-card.post-h2 .post-body {
  padding: 20px !important;
}

.post-card.post-h2 .post-meta {
  color: #ffffff;
}

.post-card.post-h2 .post-meta span {
  margin-right: 0 !important;
}

.post-card.post-h2 .post-meta .author {
  margin-right: 30px !important;
}

.post-card.post-w2 .post-body {
  padding: 20px !important;
}

.post-card.post-w2 .post-meta {
  color: #ffffff;
}

.post-card.post-w2 .post-meta span {
  margin-right: 0 !important;
}

.post-card.post-w2 .post-meta .author {
  margin-right: 30px !important;
}

.post-card.post-body-right {
  overflow: hidden;
  margin-bottom: 30px;
}

.post-card.post-body-right .post-thumb {
  float: left;
  margin-right: 30px;
  margin-bottom: 0;
}

.post-card.post-body-caption {
  position: relative;
}

.post-card.post-body-caption .post-thumb img {
  filter: brightness(40%);
}

.post-card.post-body-caption .post-body {
  position: absolute;
  bottom: 0;
  padding: 30px;
}

.post-card.post-body-caption .post-caption {
  position: absolute;
  color: #ffffff;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.post-card.post-body-caption .post-title {
  margin-bottom: 10px;
}

.post-card.post-body-caption .post-meta {
  color: #ffffff;
}

.post-card.post-body-caption .post-meta .date::after {
  background: rgba(0, 0, 0, 0);
}

.post-card.post-body-caption .post-meta .author img {
  filter: brightness(100%);
}

.post-card.post-body-caption .post-meta .author::after {
  background: #ffffff;
}

.post-card.post-sm {
  margin-bottom: 20px;
  overflow: hidden;
}

.post-card.post-sm .post-thumb {
  width: 120px;
  height: 90px;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}

.post-card.post-sm .post-thumb img {
  filter: brightness(90%);
}

.post-card.post-sm .post-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-card .post-thumb {
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-card .post-thumb img {
  filter: brightness(90%);
}

.post-card .post-title {
  margin-bottom: 20px;
}

.post-card .post-text {
  margin-bottom: 20px;
}

.post-meta {
  font-size: 13px;
  color: #666666;
  margin-bottom: 0;
}

.post-meta span {
  margin-right: 30px;
}

.post-meta .author {
  position: relative;
  font-weight: 400;
}

.post-meta .author img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.post-meta .author::after {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  background: #333;
  right: -15px;
  top: 9px;
  border-radius: 3px;
  display: block;
}

.post-meta .date {
  position: relative;
}

.post-meta .date::after {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  background: #333;
  right: -15px;
  top: 9px;
  display: block;
}

.post-meta .date svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.2px;
  position: relative;
  bottom: -5px;
  margin-right: 8px;
}

.post-meta .comment svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.2px;
  position: relative;
  bottom: -5px;
  margin-right: 8px;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.signin-card {
  max-width: 500px;
  margin: 100px auto;
  border-radius: 15px;
  padding: 60px;
  box-shadow: 0px 5px 30px rgba(49, 56, 78, 0.1);
}

.contact-form {
  max-width: 800px;
  padding: 100px;
  margin: 0 auto;
}

.contact-form .form-group .form-control {
  margin-bottom: 30px;
}

.card-header {
  background: none;
  border: none;
  margin-bottom: 30px;
  padding: 0;
}

.card-header h2 {
  margin-bottom: 0px;
}

.form-group {
  position: relative;
}

.form-group .form-control {
  height: 80px;
  border-radius: 40px;
  padding: 0 30px;
  margin-bottom: 15px;
}

.form-group textarea.form-control {
  height: 200px;
  padding: 25px;
  border-radius: 25px;
}

.btn.btn-primary {
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  border-radius: 10px;
  border: 1px solid #007bff;
  font-size: 14px;
  right: 0;
  top: 0;
  min-width: 120px;
  transition: all 500ms ease-in-out;
}

.btn.btn-primary:hover {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #007bff;
  color: #007bff;
}

/* 404  */
.content-404 {
  padding: 150px 0;
  text-align: center;
}

.content-404 img {
  margin-bottom: 30px;
  max-width: 450px;
}

.content-404 h2 {
  margin-bottom: 15 [x];
}

.content-404 span {
  margin-bottom: 30px;
}

.plans {
  text-align: center;
  margin-bottom: 80px;
  color: #35482A;
}

.plans-box {
  padding: 50px;
  box-shadow: 0px 15px 20px rgba(118, 130, 183, 0.18);
  border-radius: 40px;
}

.plans-box h2 {
  color: #E33A2D;
  text-align: center;
  margin-bottom: 30px;
}

.plans-box p {
  color: #35482A;
  opacity: 60%;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

/* _____ Header _____ */
.navbar-light .navbar-toggler-icon {
  padding: 20px;
}

.main-menu-wrap {
  margin-top: 50px;
}

.navbar-nav {
  margin: 0 auto;
  padding: 20px 0;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-nav .nav-item.active a {
  background: #f9f9f9;
}

.navbar-nav .nav-item a {
  display: inline-block;
  color: #333;
  font-size: 20px;
  padding: 0 30px;
  font-weight: 500;
  line-height: 44px;
  border-radius: 10px;
}

.navbar-nav .nav-item a:hover {
  color: #000000;
  background: #f9f9f9;
}

.navbar-buttons .btn-log {
  background: #35482A;
}

.bg-image img {
  position: absolute;
  top: -323px;
  right: -40px;
  z-index: -1;
}

#footer {
  color: #35482A;
  background: antiquewhite;
}

#footer .footer-content {
  padding: 80px 0;
}

#footer .hours-of-delivery {
  float: left;
}

#footer .hours-of-delivery p {
  margin-bottom: 70px;
}

#footer .hours-of-delivery .app-stores a {
  margin-left: 10px;
}

#footer .social-widget {
  text-align: center;
}

#footer .social-widget h5 {
  text-align: center;
  color: #E33A2D;
}

#footer .social-widget .social-links {
  display: inline-grid;
  padding: 20px;
}

#footer .social-widget a {
  color: #35482A;
}

#footer .social-widget i {
  color: #E33A2D;
}

#footer .social-widget .social-links li {
  text-align: right;
}

#footer .contact-infro p {
  width: 266px;
  line-height: 30px;
  font-weight: 700;
}

#footer .contact-infro .social-contact {
  display: inline-flex;
  list-style: none;
}

#footer .contact-infro .social-contact a {
  font-size: 20px;
  color: #E33A2D;
  margin-left: 20px;
}

#footer .copy-right {
  margin: auto;
}

#footer .copy-right p {
  padding-top: 80px;
  font-size: 20px;
}

.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20% !important;
  flex: 0 0 25% !important;
  max-width: 25%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item,
.grid-sizer {
  padding-right: 7.5px;
  padding-left: 7.5px;
  width: calc(100% / 12);
}

.grid-item {
  float: left;
  margin-bottom: 15px;
}

.grid-item img {
  width: 100%;
}

.gutter-sizer {
  width: 60px;
}

.grid-item-h2 {
  min-height: 530px;
}

.grid-item-h2 img {
  width: 100%;
}

.grid-item-col-1 {
  width: calc(100% / 12 * 1);
}

.grid-item-col-2 {
  width: calc(100% / 12 * 2);
}

.grid-item-col-3 {
  width: calc(100% / 12 * 3);
}

.grid-item-col-4 {
  width: calc(100% / 12 * 4);
}

.grid-item-col-5 {
  width: calc(100% / 12 * 5);
}

.grid-item-col-6 {
  width: calc(100% / 12 * 6);
}

.grid-item-col-7 {
  width: calc(100% / 12 * 7);
}

.grid-item-col-8 {
  width: calc(100% / 12 * 8);
}

.grid-item-col-9 {
  width: calc(100% / 12 * 9);
}

.grid-item-col-10 {
  width: calc(100% / 12 * 10);
}

.grid-item-col-11 {
  width: calc(100% / 12 * 11);
}

.grid-item-col-12 {
  width: calc(100% / 12 * 12);
}

.pager-nav {
  display: none;
}

#load-more {
  padding: 80px 0;
  text-align: center;
}

#load-more #load-more-disable, #load-more #load-more-enable {
  display: inline-block;
  height: 40px;
  color: #ffffff;
  padding: 0 15px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}

#load-more #load-more-disable {
  background: #ff3333;
}

#load-more #load-more-enable {
  background: #33ccff;
}

.service-grid {
  margin-right: -30%;
}

.gallery-grid {
  overflow: hidden;
}

.gallery-grid .grid-item,
.gallery-grid .grid-sizer {
  padding-right: 1px;
  padding-left: 1px;
  margin-bottom: 2px;
}

.gallery-grid .gallery-card {
  color: #ffffff;
  background: #2354f3;
  border-radius: 20px;
  padding: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 60px;
}

.gallery-grid .gallery-card h4 {
  margin-bottom: 20px;
}

.single-post {
  position: relative;
}

.single-post .post-thumbnail {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.single-post .post-thumbnail img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.single-post .post-thumbnail figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  color: #fff;
  padding-bottom: 100px;
}

.single-post .entry-content {
  padding: 80px 0;
}

.single-post .entry-content p {
  font-size: 18px;
  line-height: 36px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.single-post .entry-content img {
  margin-bottom: 80px;
}

.single-post .entry-content blockquote {
  background: #fa8967;
  padding: 80px 0;
  margin-bottom: 80px;
}

.single-post .entry-content blockquote .quote-content {
  font-size: 18px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.single-post .entry-content blockquote i {
  color: #fff;
  font-size: 36px;
  position: absolute;
  left: -75px;
}

.single-post .entry-content blockquote p {
  font-style: italic;
  font-weight: 400;
  color: #fff;
}

#hero {
  height: 700px;
}

#hero .hero-title h1 {
  margin-top: 150px;
  color: #35482A;
  margin-bottom: 30px;
}

#hero .hero-title P {
  max-width: 596px;
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 30px;
}

#hero .hero-title .btn-hero {
  background: #E33A2D;
}

/*$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

*/
.contact-wrap {
  padding: 50px;
  margin: auto;
  box-shadow: 0px 15px 20px rgba(118, 130, 183, 0.18);
  background: #fff;
  margin-bottom: 100px;
  margin-top: 100px;
}

.title-contact {
  color: #E33A2D;
}

.form-contact input {
  margin: 0;
}

.image-contact {
  text-align: center;
  padding: 100px;
}

textarea {
  height: 208px;
  border: 1px solid #ced4da;
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 30px;
  outline: none;
  resize: none;
}

textarea:focus {
  border: 1px solid #0c8fed;
}

.category-profile {
  text-align: center;
}

.category-profile h1 {
  font-size: 20px;
  margin-bottom: 100px;
}

.category-profile p {
  font-size: 16px;
}

.store-item {
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 15px 20px rgba(118, 130, 183, 0.18);
  background-color: #fff;
}

.store-item .store-img {
  overflow: hidden;
  text-align: center;
}

.store-item .store-img img {
  max-width: 100%;
}

.store-item .store-info {
  padding: 15px 0;
  text-align: center;
}

.store-item .store-info h5 {
  margin-bottom: 40px;
}

.store-item .store-info p {
  font-size: 23px;
  color: #E33A2D;
  font-weight: bold;
}

.pagination-wrap {
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.pagination-wrap .page-item {
  position: relative;
}

.pagination-wrap .page-item.page-prev::after, .pagination-wrap .page-item.page-next::after {
  opacity: 0;
}

.pagination-wrap .page-item::after {
  content: "";
  position: absolute;
  border-radius: 6px;
  top: -20px;
  background: rgba(227, 58, 45, 0.4);
  width: 12px;
  height: 12px;
  left: calc(50% - 6px);
}

.pagination-wrap .page-item.active::after {
  background: #E33A2D;
}

.pagination-wrap .page-item .page-link {
  background: none;
  border: none;
  color: #E33A2D;
  opacity: 1;
  font-size: 20px;
  padding: 5px 15px;
}

.pagination-wrap .page-item.active .page-link {
  color: #ffc300;
}

.account-wrap {
  padding: 50px 0;
  max-width: 700px;
  margin: auto;
  box-shadow: 0px 15px 20px rgba(118, 130, 183, 0.18);
  margin-bottom: 100px;
}

.account-wrap .title-geart {
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  color: red;
}

.account-wrap .signup-form {
  padding-left: 100px;
}

.account-wrap .signup-form .control {
  margin-bottom: 30px;
}

.account-wrap .signup-form .control a {
  color: #003566;
  text-decoration: underline;
}

.account-wrap .signin-form .control {
  margin-bottom: 30px;
}

.account-wrap .btn-great {
  text-align: center;
}

.account-wrap .btn-main {
  margin-bottom: 40px;
  border-radius: 40px;
  padding: 0 100px;
  background: #E33A2D;
}

.forget-pass {
  text-align: center;
  font-size: 25px;
}

.forget-pass a {
  color: #E33A2D;
}

.account-wrap .title-profile {
  margin-bottom: 0;
}

.text-great {
  text-align: center;
  font-size: 18px;
  color: #35482A;
  margin-bottom: 50px;
}

.order-complete {
  margin: 80px auto;
  max-width: 280px;
  text-align: center;
}

.order-complete svg {
  margin-bottom: 30px;
}

.order-complete .thank-you {
  margin-bottom: 30px;
}

.section-title h1 {
  text-align: center;
  margin-bottom: 90px;
  color: #E33A2D;
}

.cart-item {
  border-radius: 40px;
  padding: 50px;
  background: #fff;
  box-shadow: 0px 15px 20px rgba(118, 130, 183, 0.18);
  position: relative;
  margin-bottom: 90px;
  min-height: 255px;
}

.cart-item .item-store {
  color: #E33A2D;
  margin-bottom: 50px;
}

.cart-item .item-control {
  position: absolute;
  top: 155px;
  left: 30px;
}

.cart-item .item-control .btn-main {
  height: 40px;
  line-height: 38px;
}

.cart-item .business-infro {
  display: inline-flex;
}

.cart-item .business-infro .days p {
  font-size: 30px;
  color: #35482A;
  text-align: center;
  opacity: 50%;
  margin-left: 80px;
  margin-bottom: 30px;
}

.cart-item .business-infro .number p {
  font-size: 30px;
  color: #35482A;
  text-align: center;
  opacity: 50%;
  margin-left: 80px;
  margin-bottom: 30px;
}

.cart-item .type p {
  font-size: 30px;
  color: #35482A;
  text-align: center;
  opacity: 50%;
  margin-left: 80px;
  margin-bottom: 30px;
}

.cart-item .price p {
  font-size: 60px;
  color: #E33A2D;
  font-weight: bold;
  padding: 10px;
  margin-right: 80px;
}

.cart-item .price span {
  font-size: 20px;
  text-align: center;
}

.order-content {
  max-width: 907px;
  margin: auto;
  box-shadow: 0px 15px 20px rgba(118, 130, 183, 0.18);
  background: #fff;
  border-radius: 40px;
  padding: 30px;
}

.order-content .order-title h1 {
  text-align: right;
  margin-bottom: 50px;
}

.order-content .price .price-meal {
  font-size: 30px;
  margin-right: -5px;
}

.order-content .input-names {
  display: inline-flex;
}

.order-content .input-names .form-orders {
  max-width: 400px;
  height: 60px !important;
  margin-left: 20px !important;
}

.order-content .options-list {
  margin-bottom: 50px;
}

.order-content .options-list select {
  width: 400px;
  padding: 15px;
  border-radius: 40px;
  margin-left: 20px;
  color: #707070;
  outline: none;
  border: 1px solid #ced4da;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: left 30px top 50%;
  background-size: 25px;
}

.order-content .form-adders {
  width: 822px !important;
  height: 60px;
}

.order-content .order-notes {
  width: 822px;
  height: 120px;
  padding: 30px;
}

.order-content .btn-orders {
  text-align: center;
}

@media (max-width: 1200px) {
  .navbar-nav .nav-item a {
    padding: 0 10px;
  }
  #footer .social-widget .social-links {
    padding: 10px;
  }
  .plans-box p {
    font-size: 16px;
  }
  .plans-box h2 {
    font-size: 16px;
  }
  .image-hero img {
    max-width: 100%;
    margin-right: 182px;
    margin-top: 99px;
  }
  .contact-wrap {
    max-width: 100%;
  }
  .form-contact input {
    max-width: 100%;
  }
  textarea {
    max-width: 100%;
  }
  .image-contact {
    padding: 70px;
  }
  .image-contact img {
    max-width: 100%;
  }
  .col.w-20 {
    min-width: 33%;
  }
  .cart-item .price p {
    margin-right: 100px;
  }
  .cart-item .type p {
    font-size: 25px;
  }
  .cart-item .number p {
    font-size: 25px !important;
  }
  .cart-item .days p {
    font-size: 25px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cart-item .price p {
    margin-right: 30px;
  }
  .cart-item .type p {
    font-size: 20px;
  }
  .cart-item .number p {
    font-size: 20px !important;
  }
  .cart-item .days p {
    font-size: 20px !important;
  }
}

@media (max-width: 992px) {
  .image-hero img {
    margin-right: 150px;
    margin-top: 130px;
  }
  .plans-box h2 {
    font-size: 14px;
    font-weight: bold;
  }
  .plans-box p {
    font-size: 12px;
  }
  .col-sm-12 {
    min-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  #footer .contact-infro p {
    margin: auto;
    width: 500px;
  }
  .col-sm-6 {
    min-width: 50%;
    text-align: center;
  }
  .col.w-20 {
    min-width: 50%;
  }
  .cart-item .price p {
    margin-right: 20px;
  }
  .cart-item .type p {
    font-size: 16px;
    margin-left: 40px;
  }
  .cart-item .number p {
    font-size: 16px !important;
    margin-left: 40px !important;
  }
  .cart-item .days p {
    font-size: 16px !important;
    margin-left: 40px !important;
  }
  .cart-item .price p {
    font-size: 30px;
  }
  .cart-item .item-control {
    top: 156px;
  }
  .order-content .input-names .form-orders {
    max-width: 295px;
  }
  .order-content .options-list {
    max-width: 100%;
    display: inline-flex;
  }
  .navbar-nav {
    background-color: #fff;
    margin-top: 30px;
    text-align: center;
  }
  .navbar-buttons {
    background-color: #fff;
    text-align: center;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  #footer .social-widget .social-links {
    padding: 4px;
  }
  .image-hero img {
    margin-top: 0;
  }
  .hero-title {
    text-align: center;
  }
  #footer .copy-right p {
    font-size: 18px;
  }
  .plans-box p {
    font-size: 20px;
  }
  .plans-box h2 {
    font-size: 20px;
  }
  .plans {
    margin-top: 130px;
  }
  .cart-item .item-control {
    position: static;
    text-align: center;
  }
  .cart-item .business-infro {
    margin-bottom: 20px;
    min-width: 100%;
  }
  .cart-item .price p {
    margin-right: 50px;
  }
  .order-content .input-names {
    display: block;
  }
  .order-content .input-names .form-orders {
    min-width: 100%;
  }
  .order-content .options-list {
    display: block;
  }
  .order-content .options-list select {
    min-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .image-hero img {
    margin-right: 83px;
  }
  .col-sm-6 {
    margin-bottom: 20px;
  }
  #footer .hours-of-delivery {
    float: none;
  }
  #footer .copy-right p {
    font-size: 12px;
    font-weight: bold;
  }
  .form-group .form-control {
    max-width: 100%;
  }
  .account-wrap .btn-main {
    max-width: 100%;
  }
  .col.w-20 {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  #footer .contact-infro p {
    max-width: 100%;
  }
  .cart-item .price p {
    margin-right: 30px;
  }
  .cart-item .type p {
    margin-left: 20px;
  }
  .cart-item .number p {
    margin-left: 20px !important;
  }
  .cart-item .days p {
    margin-left: 20px !important;
  }
}
